.destaques a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

.light .destaques a {
    color: black;
}

.destaques .title {
    font-family: "Reem Kufi", sans-serif;
    font-size: 1.8rem;
}

.destaques .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.destaques .destaque-items {
    width: 100%;
    display: flex;
}

.destaques .destaque-items img{
    width: 100%;
}

.destaques .destaque-maior{
    width: 60%;
    margin-right: 4%;

}


.destaques .destaque-menor-container{
    width: 35%;
    display: flex;
    margin-left: 1%;
    flex-direction: column;
}

.destaques h3 {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    margin-bottom: 0.5em;
}

.destaques p{
    margin: 0;
    padding: 0;
}

.destaques .destaque-menor:first-child {
    margin-bottom: 3em;
}


@media(max-width: 800px) {

    .destaques .destaque-maior {
        width: 100%;
        margin: 0;
        margin-bottom: 3em;
    }

    .destaques .destaque-items{
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
    }

    .destaques .destaque-menor-container{
        width: 100%;
        margin: 0;
    }

    .destaques .destaque-menor {
        margin-top: 1em;
    }

}
