title = "/conta/desativar"
url = "/conta/contadesativar"
layout = "innerpages"
meta_title = "Desativar conta"
meta_description = "Página para desativar conta."
is_hidden = 0

[account]
redirect = "home-page"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[contaDados]

[localePicker]
forceUrl = 0
==
<?php
function onEnd() {
    $this->page->title = "Desativar conta" ;
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
}
?>
==
{% if user %}

<div class="form-container">
    <a class="bt-voltar" href="{{ url('/') }}">{{ 'Voltar'|_ }}</a>
    <h3>{{ 'Desativar a conta'|_ }}</h3>
    <div class="descricao">{{ "Tem certeza que deseja desativar a conta?"|_ }}</div>

    <a
        class="bt-desativar"
    href="javascript:;"
    onclick="$('#accountDeactivateForm').toggle()">
        {{"Desativar conta"|_}}
</a>

<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
        <h3>{{ "Desativar sua conta?"|_ }}</h3>
        <p>
            {{ "Sua conta será desativada e seus detalhes serão removidos do site. Você pode reativar sua conta a qualquer momento, fazendo login novamente."|_ }}
        </p>
        <div class="form-group">
            <label for="accountDeletePassword">{{ "Para continuar, por favor insira sua senha:"|_ }}</label>
            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
        </div>
        <button type="submit" class="btn btn-danger">
            {{ "Confirmar desativação da conta"|_ }}
        </button>
        <a
            href="javascript:;"
            onclick="$('#accountDeactivateForm').toggle()">
            {{ "Eu mudei de idéia"|_ }}
        </a>
    {{ form_close() }}
</div>

</div>

{% endif %}