title = "login"
url = "/conta/login"
layout = "innerpages"
description = "Login, cadastro e gerenciamento de conta."
meta_title = "Página de Login"
meta_description = "Login, cadastro e gerenciamento de conta."
is_hidden = 0

[contaLogin]
redirect = "home-page"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[localePicker]
forceUrl = 0
==
<?php
function onEnd() {
    $this->page->title = "Libre Designers - Página de login do Usuário" ;
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
}
?>
==
<div class="form-container conta">
    <a class="bt-voltar" href="{{ url(activeLocale ~ '/') }}">{{ 'Voltar'|_ }}</a>
    <h3>{{ 'Login do usuário'|_ }}</h3>
    <div class="descricao">{{ 'Preencha o formulário abaixo.'|_ }}</div>
    <hr>

    {{ form_ajax('onSignin', {'data-request-flash':'' ,'data-request-validate':'', 'data-interval':'5' }) }}

    <div class="form-group">
        <label for="userSigninLogin">E-mail</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="{{ 'Insira seu e-mail'|_}}" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">{{ 'Senha'|_ }}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="{{ 'Insira sua senha'|_}}" />
    </div>

    {% set link = activeLocale ~ '/conta/relembrar-senha' %}

    <button type="submit" class="btn btn-default">{{ 'Logar'|_ }}</button>
    <div><a class="link btn btn-info" href="{{ url(link) }}">{{ 'Esqueceu a senha?'|_ }}</a></div>

{{ form_close() }}

</div>