title = "Mudar senha"
url = "/conta/mudar-senha"
layout = "innerpages"
description = "Login, cadastro e gerenciamento de conta."
meta_title = "Relembrar senha"
meta_description = "Página de relembrar senha"
is_hidden = 0

[viewBag]
localeMeta_title[en] = "Password Remember"
localeMeta_description[en] = "Password Remember Page"

[account]
redirect = "home-page"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[contaEsqueceuSenha]
paramCode = "code"

[localePicker]
forceUrl = 0
==
<?php
function onEnd() {
    $this->page->title = "Libre Designers - Restaurar senha do usuário" ;
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
}
?>
==
{% if user %}

<div id="partialUserResetForm">
    {% if contaEsqueceuSenha.code == null %}
        <div class="form-container">
            <a class="bt-voltar" href="{{ url(activeLocale ~ '/conta/login') }}">{{ 'lacaster.conta::lang.voltar' | trans }}</a>
            <h3>{{ "Mudar senha?"|_ }}</h3>
            <div class="descricao">{{ "Sem problemas. Digite seu e-mail abaixo."|_ }}</div>
            <hr>

            {{ form_ajax('onRestorePassword',{'data-request-update': "'contaEsqueceuSenha::reset': '#partialUserResetForm'", 'data-request-flash':'', 'data-request-validade':'','data-interval':'5'}) }}

            <div class="form-group">
                <label for="userRestoreEmail">E-mail</label>
                <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="{{ 'Digite seu e-mail'|_ }}" value="{{ user.email }}">
            </div>

            <button type="submit" class="btn btn-default">{{ "Mudar senha"|_ }}</button>
            {{ form_close() }}
        </div>
    {% else %}
        <div class="form-container">
            <a class="bt-voltar" href="{{ url('/conta/login') }}">{{ 'lacaster.conta::lang.voltar' | trans }}</a>
            <h3>{{ "Alterar senha"|_ }}</h3>
            <div class="descricao">
                {{ 'lacaster.conta::lang.verifique' | trans }}
            </div>
            <hr>

            {{ form_ajax('onResetPassword',{'data-request-update': "'contaEsqueceuSenha::complete': '#partialUserResetForm'", 'data-request-flash':'', 'data-request-validade':'','data-interval':'5'}) }}
            <div class="form-group">
                <label for="resetCode"> {{ 'lacaster.conta::lang.codigoativacao' | trans }}</label>
                <input name="code" type="text" class="form-control" id="resetCode" placeholder="{{ 'lacaster.conta::lang.insiracodigoativacao' | trans }}" value="{{ __SELF__.code }}">
            </div>

            <div class="form-group">
                <label for="resetPassword">{{ 'lacaster.conta::lang.novasenha' | trans }}</label>
                <input name="password" type="password" class="form-control" id="resetPassword" placeholder="{{ 'lacaster.conta::lang.insiranovasenha' | trans }}">
            </div>

            <button type="submit" class="btn btn-default">{{ 'lacaster.conta::lang.alterarsenha' | trans }}</button>
            {{ form_close() }}
        </div>
    {% endif %}
</div>
{% endif %}