title = "registrar"
url = "/conta/registrar"
layout = "innerpages"
description = "Página de cadastro de usuário"
meta_title = "Cadastro de usuário"
meta_description = "Página de cadastro de usuário"
is_hidden = 0

[viewBag]
localeUrl[en] = "/conta/registrar"
localeDescription[en] = "User Registration Page"
localeMeta_title[en] = "User Registration Page"
localeMeta_description[en] = "User Registration Page"

[contaRegistrar]
redirect = "home-page"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[localePicker]
forceUrl = 0
==
<?php
function onEnd() {
    $this->page->title = "Libre Designers - Registrar usuário" ;
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
}
?>
==
{% if not user %}


<div class="form-container conta">
    <a class="bt-voltar" href="{{ url(activeLocale ~ '/') }}">{{ 'Voltar'|_ }}</a>
    <h3>{{ 'Cadastre-se'|_ }}</h3>
    <div class="descricao">{{ 'Para curtir ou deixar mensagens nas publicações é necessário criar uma conta no site. Preencha o formulário abaixo para se cadastrar. Será necessário confirmar o e-mail utilizado.'|_ }}</div>
    <hr>
    {{ form_ajax( 'onRegister', {'class' : 'form-register profile', 'data-request-flash':'','data-request-validate':'','data-interval' : '5' }  ) }}
        <div class="form-group full email">
            <label for="registerEmail">E-mail:</label>
            <input
                name="email"
                type="email"
                class="form-control"
                placeholder="{{ 'Digite seu e-mail'|_ }}" />
                <p class="help-block obrigatorio">
                    {{ 'O campo e-mail é obrigatório.'|_ }}
                </p>
                <p class="help-block formato">
                    {{'O campo e-mail está mal formatado.'|_ }}
                </p>
        </div>
        <div class="form-group nome">
            <label for="registerName">{{ 'Nome'|_ }}:</label>
            <input
                name="name"
                type="text"
                class="form-control"
                placeholder="{{ 'Digite seu primeiro nome'|_ }}" />
                <p class="help-block obrigatorio">
                    {{ 'O campo nome é obrigatório.'|_ }}
                </p>
                <p class="help-block minimo">
                    {{ 'O campo nome deve conter no mínimo 2 letras.'|_ }}
                </p>
        </div>
        <div class="form-group sobrenome">
            <label for="registerSurName">{{ "Sobrenome"|_}}:</label>
            <input
                name="surname"
                type="text"
                class="form-control"
                placeholder="{{ 'Digite seu sobrenome'|_ }}" />
                <p class="help-block obrigatorio">
                    {{ 'O campo sobrenome é obrigatório.'|_ }}
                </p>
                <p class="help-block minimo">
                    {{ 'O campo sobrenome deve conter no mínimo 2 letras.'|_ }}
                </p>
        </div>
        <div class="form-group senha">
            <label for="registerPassword">{{ 'Senha'|_ }}</label>
            <input
                name="password"
                type="password"
                class="form-control"
                placeholder="{{ 'Escolha uma senha'|_}}" />
                <p class="help-block obrigatorio">
                    {{ 'O campo senha é obrigatório.'|_ }}
                </p>
                <p class="help-block minimo">
                    {{ 'O campo senha deve conter no mínimo 9 símbolos.'|_ }}
                </p>
        </div>
        <div class="form-group confirmar_senha">
            <label for="registerConfirmPassword">{{ 'Confirmar senha'|_ }}</label>
            <input
                name="password_confirmation"
                type="password"
                class="form-control"
                placeholder="{{ 'Confirme sua senha'|_ }}" />
                <p class="help-block obrigatorio">
                    {{'O campo de confirmação de senha é obrigatório.'|_}}
                </p>
                <p class="help-block igual">
                    {{'O campo de confirmação de senha deve ser igual ao campo de senha.'|_}}
                </p>
        </div>

        <button type="submit" id="bt-cadastrar" class="btn btn-default">{{'Cadastrar'|_}}</button>
    {{ form_close() }}
</div>

{% else %}

    {% if not user.is_activated %}

        <h3>{{ 'Seu endereço de e-mail ainda não foi verificado.'|_ }}</h3>
        <p>
            {{ 'Você deve verificar sua conta caso contrário ela será deletada. Por favor, verifique se e-mail.'|_ }}
            <a href="javascript:;" data-request="onSendActivationEmail">{{ 'Enviar e-mail de verificação novamente.'|_ }}</a>.
        </p>

    {% endif %}
{% endif %}