{% set liked = __SELF__.liked %}
{% set user_id = __SELF__.user_id %}
{% set post_id = __SELF__.post_id %}
{% set total_liked = __SELF__.total_liked %}
{% set user = __SELF__.user %}

{% if not user %}
<div id="container-link-like-button">
	<a id="link-like-button" href="#form-conta">
		<div class="container-button">
			<button class="like-button {{ liked ? 'ativo' : '' }}" type="submit" name="button">
				{% partial "include-svg" file="themes/libredesigners4/assets/images/svg/coracao.svg" %}
			</button>
		</div>
	</a>
</div>
{% else %}
<form id="form-like-button" data-request="onClickLikeButton" >
    <div class="container-button">
        <button class="like-button {{ liked ? 'ativo' : '' }}" type="submit" name="button">
            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/coracao.svg" %}
        </button>
        {% if liked %}
        <span>Curtiu</span>
        {% else %}
        <span>Curtir</span>
        {% endif %}
    </div>
</form>
{% endif %}
