description = "Head de categoria"

[viewBag]
==
<!--
            | |    (_) |              |  __ \          (_)
            | |     _| |__  _ __ ___  | |  | | ___  ___ _  __ _ _ __   ___ _ __ ___
            | |    | | '_ \| '__/ _ \ | |  | |/ _ \/ __| |/ _` | '_ \ / _ \ '__/ __|
            | |____| | |_) | | |  __/ | |__| |  __/\__ \ | (_| | | | |  __/ |  \__ \
            |______|_|_.__/|_|  \___| |_____/ \___||___/_|\__, |_| |_|\___|_|  |___/
                                                           __/ |
                                                          |___/

            Opengraph (Facebook) e Twitter Card (Twitter).
            Livre-se deste tipo de spyware com Disconnect, Privacy Badger, Request Policy, uBlock Origin :
            https://disconnect.me/
            https://www.eff.org/privacybadger
            https://requestpolicycontinued.github.io/
            https://addons.mozilla.org/firefox/addon/ublock-origin/

    -->
<head>
    {% if activeLocale == "en" %}
        {% set app_description = "Art, Design and Programming with Free (Libre) Software." %}
    {% endif %}


    {% if activeLocale == "pt-br" %}
        {% set app_description = "Arte, Design e Programação com Software Livre." %}
    {% endif %}

    <meta charset="utf-8">    
    
    <title>{{ app_name }} - {{ this.page.meta_title }}</title>
    <meta name="description" content="{{ this.page.description }}">
    <meta name="title" content="{{ app_name }} - {{ this.page.meta_title }}">
    <meta name="author" content="Lacaster@Libre Designers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ app_name }}">

    <meta property="og:title" content="{{ app_name }} - {{ this.page.meta_title }}"/>
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:site_name" content="{{ app_name }} - {{ app_description }} " />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ this.page.description }}"/>
    <meta property="og:image" itemprop="image" content="{{ url(this.page.image_path) }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ app_name }} - {{ app_description }}" />
    <meta name="twitter:creator" content="Lacaster" />
    <meta name="twitter:description" content="{{ this.page.description }}" />
    <meta name="twitter:title" content="{{ this.page.meta_title }}">
    <meta name="twitter:image" content="{{ url(this.page.image_path) }}" />
    <meta name="twitter:image:alt" content="{{ url(this.page.image_path) }}" />
    

    {% partial "common/favicon" %}

    <link href="{{ ['assets/scss/theme.scss']|theme }}" rel="stylesheet">
    {% styles %}
</head>