#inner-page {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: left;
    padding: rem(0);
    line-height: 2;
    font-size: em(20);
    font-weight: 300;
    margin-bottom: rem(160);

    a {
        color: white;
    }

    img {
        max-width: 100%;
    }

    .image-container {
        text-align: center;
        width: 100%;
        background-color: #0e1946;
        padding: rem(50) rem(10) rem(40);
    }
}

.light {
    #inner-page {
        color: black;

        a {
            color: black;
        }

        .bt-voltar {
            color: white;
        }

        .image-container {
            background-color: #f3f3f8;
        }

        a.special {
            color: white;
        }
    }

}
