#inner-page {

    header{
        margin: rem(120) 0 rem(120);

        h2 {
            font-size: em(70);
            font-family: "Reem Kufi", sans-serif;
            text-align: center;
            line-height: 1;

            @media(max-width: 800px) {
                font-size: em(50);
            }

            @media(max-width: 600px) {
                font-size: em(35);
            }
        }
    }


    a {
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }

}


