.like-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    width: 50px;
}

.like-button.ativo svg #path {
    fill: white !important;
}

.like-button:hover svg #path {
    fill: white !important;
}

#form-like-button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#container-link-like-button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#link-like-button {
	display: block;
}

#form-like-button .container-button {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    align-items: center;
}

@media(max-width: 500px) {
    #form-like-button {
        margin-top: 2em;
        justify-content: center;
    }

    #container-link-like-button {
        margin-top: 2em;
        justify-content: center;
    }
}
