<div class="form-container">
    <a class="bt-voltar" href="{{ url(activeLocale ~ '/conta/login') }}">{{ 'lacaster.conta::lang.voltar' | trans }}</a>
    <h3>{{ 'lacaster.conta::lang.senhaalterada' | trans }}</h3>
    <hr>
    <p class="mensagem">{{ 'lacaster.conta::lang.alterada' | trans }}</p>
</div>
