<div class="form-container">
    <a class="bt-voltar" href="{{ url('/conta/login') }}">{{ 'lacaster.conta::lang.voltar' | trans }}</a>
    <h3>{{ 'lacaster.conta::lang.perdeusenha?' | trans }}</h3>
    <div class="descricao">
        {{ 'lacaster.conta::lang.verifique' | trans }}
    </div>
    <hr>

    {{ form_ajax('onResetPassword',{'data-request-update': "'contaEsqueceuSenha::complete': '#partialUserResetForm'", 'data-request-flash':'', 'data-request-validade':'','data-interval':'5'}) }}
        <div class="form-group">
            <label for="resetCode"> {{ 'lacaster.conta::lang.codigoativacao' | trans }}</label>
            <input name="code" type="text" class="form-control" id="resetCode" placeholder="{{ 'lacaster.conta::lang.insiracodigoativacao' | trans }}" value="{{ __SELF__.code }}">
        </div>

        <div class="form-group">
            <label for="resetPassword">{{ 'lacaster.conta::lang.novasenha' | trans }}</label>
            <input name="password" type="password" class="form-control" id="resetPassword" placeholder="{{ 'lacaster.conta::lang.insiranovasenha' | trans }}">
        </div>

        <button type="submit" class="btn btn-default">{{ 'lacaster.conta::lang.alterarsenha' | trans }}</button>
    {{ form_close() }}
</div>
