<div class="form-container">
    <a class="bt-voltar" href="{{ url(activeLocale ~ '/conta/login') }}">{{ 'lacaster.conta::lang.voltar' | trans }}</a>
    <h3>{{ 'lacaster.conta::lang.perdeusenha?' | trans }}</h3>
    <div class="descricao">{{ 'lacaster.conta::lang.semproblema' | trans }}</div>
    <hr>

    {{ form_ajax('onRestorePassword',{'data-request-update': "'contaEsqueceuSenha::reset': '#partialUserResetForm'", 'data-request-flash':'', 'data-request-validade':'','data-interval':'5'}) }}

        <div class="form-group">
            <label for="userRestoreEmail">E-mail</label>
            <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="{{ 'lacaster.conta::lang.insiraemail' | trans }}">
        </div>

        <button type="submit" class="btn btn-default">{{ 'lacaster.conta::lang.recuperarsenha' | trans }}</button>
    {{ form_close() }}
</div>
