#postagens {
     margin-left: 1rem;   
}

#blogposts {
    font-family: "Open Sans", sans-serif;
    margin:0;
    padding: em(90) 0;
    min-height: 70vh;

    ul.post-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            width: 33.33%;
            padding: rem(16);
            margin-bottom: em(50);

            img {
                max-width: 100%;
                width: 100%;
            }

            @media(max-width: 1000px) {
                width: 49%;
            }

            @media(max-width: 500px) {
                width: 100%;
            }

        }
        
        .no-data {
             margin-left: 1rem;   
        }
    }
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .container-text {
        padding: em(15);
    }

    h3 {
        margin: em(5) 0 em(5);
        padding: 0;
    }

    h3 a {
        color: white;
        font-weight: 700;
    }

    .categorias {
        margin-bottom: em(25);
    }

    .categorias a {
        color: #2e946d;
    }

    .resumo {
        font-weight: 300;
        line-height: 1.5;
        font-size: rem(16);
    }

    .author-info {
        margin-top: em(15);

        a {
            padding: 0;
            margin: 0;
            display: flex;
            text-decoration: none;
        }

        .circulo img {
            border-radius: em(55);
        }

        .info-postagem {
            margin: 0;
            padding: em(10);
            display: flex;
            flex-direction: column;

            .nome {
                color: #198a5e;
                margin-bottom: em(3);
            }

            .data {
                color: #7f8c8d;
            }
        }
    }

    .icons-post {
        margin-top: em(15);
        display: flex;

        > div {
            margin-right: em(10);
            display: flex;
            align-items: center;
        }

        .value {
            margin: em(4) em(4);
        }
    }

    .btn-container {
        margin-top: em(100);
        text-align: center;

        a {
            border-radius: em(4);
            background-color: #126644;
            color: white;
            transition: all 1s ease;
            text-decoration: none;
            padding: em(13) em(23);

            &:hover {
                background-color: #0b402b;
            }
        }
    }

}


.light #blogposts {
    h3 a {
        color: black;
    }

    svg path.path-icon{
        fill: black !important;
    }
}

#blogposts .pagination {
    list-style-type: none;
    text-align: center;

    li {
        display: inline-block;
        margin-bottom: em(16);

        a {
            margin-right: rem(10);
            background-color: #0a3725;
            color: #FFFFFF;
            text-decoration: none;
            padding: rem(22) rem(17);
            border-radius: rem(20);
            display: inline-block;
            transition: background-color ease 0.5s;
            line-height: 0;

            &:hover {
                background-color: #10705b;
                text-decoration: none;
            }

            &:active {
                text-decoration: none;
                background-color: #0c544a;
            }
        }
    }

    li.active {
        a {
            background-color: #1ea571;
        }
    }
}
