.form-contato {

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .form-control {
        width: 100%;
        padding: em(10);
        color: white;
        border: 2px white solid;
        background-color: transparent;
        border-radius: em(5);
    }

    .special {
        margin-top: em(20);
        text-align: center;
    }

    .invalid-feedback {
        color: #e13434;
    }
}

#scf-contactForm .alert {
    background-color: #136645;
    color: white;
    text-align: center;
    font-weight: 700;
}

.light {

    .invalid-feedback {
        color: #861414;
    }

    .form-contato .form-control {
        border: 2px black solid;
        color: black;
    }
}
