.contact {
    background-color: #f0293f;
    color: black;
    margin-bottom: em(20);

    a {
        color: black;
        text-decoration: none;
    }

    h3 {
        font-size: rem(53);
        font-family: "Reem Kufi", sans-serif;
    }

    .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: em(100) 0;
    }


    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;

        li {
            margin: rem(40) 0;
        }

        .social-network {
            margin-right: em(30);
            display: flex;
            align-items: center;

            .name {
                font-family: "Open Sans", sans-serif;
                margin: 0 em(20) 0 em(10);
                font-size: rem(18);
            }
        }
    }
}



