
footer{
    background: linear-gradient(to right, #148265, #1f9257);
    overflow: hidden;
    position: relative;
    z-index: 0;

    #apps-icons {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.25;
        background-image: url("../images/imgs/apps-icons2.png");
        background-repeat: repeat-x;
        animation: animatedBackground 30s linear infinite;
        z-index: -1;
    }

    .menus {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        .menu {
            width: 33%;

            @media(max-width: 800px) {
                width: 50%;
            }

            @media(max-width: 500px) {
                width: 100%;
            }

            ul {
                list-style-type: none;
                margin: 0;
                margin-top: rem(20);
                padding: 0;
                padding-left: rem(15);
                margin-bottom: rem(50);

                a {
                    color: white;
                    padding-top: rem(5);
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #mascotes{
        display: flex;
        position: relative;
        text-align: right;
        #montanha-inkscape-1,
        #montanha-inkscape-2,
        #familia-gnu {

            position: absolute;
            bottom: rem(-5);
        }
    }

    #licenca {
        text-align: left;
        margin: 0 0 rem(80) 0;
        position: relative;
        z-index: 1;

        @media(max-width: 800px) {
            margin-bottom: rem(150);
        }

        @media(max-width: 560px) {
            margin-bottom: rem(200);
        }
    }
}


@keyframes animatedBackground {
	from { background-position: -1270px 10px; }
	to { background-position: 0 10px; }
}

footer {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-top: rem(100);

    h4 {
        color: white;
        font-size: em(30);
        margin: 0;
        padding: 0;
        margin-bottom: rem(5);
    }

    ul {
        margin-top: rem(5);
        font-size: em(16);
        color: white;
        margin: 0;
        padding: 0;
        margin-left: rem(15);
        line-height: 1.3;

        li {
            padding: rem(2) 0;
        }

        a {
            color: white;
            font-weight: 500;
            text-decoration: none;
        }
    }


}
