#header {
    background-color: #0e4e35;
    color: white;
    position: relative;
    height: em(100);
    z-index: 2;

    h1 {
        font-family: "Aclonica",sans-serif;
        position: absolute;
        left: 50%;
        top: 35%;
        padding: 0;
        margin: 0;
        transform: translateX(-50%);
        font-size: rem(32);
    }

    @media(max-width: 600px) {
        h1 {
            margin-top: rem(0);
            font-size: rem(28);
        }
    }

    @media(max-width: 500px) {
        h1 {

            margin-top: rem(5);
            font-size: rem(18);
        }
    }

    @media(max-width: 400px) {
        h1 {
            font-size: rem(16);
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }


    a {
        color: white;
        text-decoration: none;

        &.ativo {
            font-weight: bold;
        }

    }

    .controls-container {
        height: em(100);
        display: flex;
        align-content: center;
        align-items: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            padding-right: em(5);
        }
    }

    .link-theme {
        cursor: pointer;
    }

    .link-theme:hover {
         svg #path-escuro {
             fill: white;
         }

         svg .path {
             fill: white;
         }
    }

    .locale {
        text-transform: uppercase;

        a {
             color: #999999;
        }

        a.ativo {
            color: white;
        }
    }


    .link-rss:hover {
         svg #path {
             fill: white;
         }
    }

    .link-busca {
        cursor: pointer;
        margin-left: em(15);
    }

    @media(min-width: 799px) {
        .controls-container--third {
            display: none;
        }
    }


    @media(max-width: 800px) {

        .controls-container--third {
            display: block;
        }

        .controls-container--first {
            display: none;
        }

        .link-rss {
            display: none;
        }

    }

    .theme {
        width: em(55);
        height: em(55);
        margin-right: em(10);
        overflow: hidden;

        .link-theme {
            width: 100%;
            height: 100%;
        }
    }

    .menu-icon {
        cursor: pointer;
        width: 40px;
        height: 19px;
        display: inline-block;
        position: relative;
        margin-top: rem(40);
    }

    .menu-icon::before {
        content: "";
        position: absolute;
        top: 0;
        left: 5px;
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
    }

    .menu-icon__middle {
        position: absolute;
        top: 8px;
        left: 5px;
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        transition: all .3s ease-out;
        transform-origin: 0 50%;
    }

    .menu-icon::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5px;
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
    }


    .menu-icon--close-x {
        &::before {
            transform: rotate(27deg) scaleX(1.25);
        }

        .menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-27deg) scaleX(1.25) translateY(1px);
        }
    }

}

.dark .link-theme--light {
    display: none;
}

.light .link-theme--dark {
    display: none;
}

