
.mentoria {
    background-color: #f0293f;
    color: black;
    padding: em(120) 0;

    h3 {
        font-family: 'Reem Kufi', sans-serif;
        font-size: rem(37);
        margin: 0;
        padding: 0;
        max-width: em(300);
        line-height: 1;
    }

    .text-container {
        margin-top: em(30);
        margin-bottom: em(30);
    }

    p {
        font-family: "Open Sans", sans-serif;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1;
        padding: 0;
        margin: em(2) 0 0;
    }

    .bt-mentoria {
        font-family: "Open Sans", sans-serif;
        font-size: rem(25);
        padding: em(11) em(30);
        border: em(3) solid black;
        color: black;
        background: transparent;
        border-radius: em(5);
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .bt-mentoria:hover {
        color: #ff293f;
        background: black;
    }
}
