.posts .hero {
    padding: em(40) 0;
     background: #001733;

    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        max-width: em(800);
        width: 100%;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 175px;

        img {
            width: 100%;
        }
    }

    .texto {
        width: 70%;
        text-align: center;

        h2 {
            font-size: rem(43);
            font-family: "Reem Kufi", sans-serif;
        }

        .descricao {
            font-family: "Open Sans", sans-serif;
            font-size: rem(22);
            font-weight: 300;
            line-height: 1.4;
        }
    }
}

.posts .hero .texto {
    width: 100%;
}

.posts .hero {
    button {
        background-color: #c9db53;
        color: black;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: rem(24);
        padding: em(20) em(40);
        border: 0;
        border-radius: em(3);
        margin-top: em(60);

        &:hover {
            background-color: #d9e584;
            cursor: pointer;
        }
    }
}


.posts .resources {
    background-color: black;
    font-family: "Reem Kufi", sans-serif;
    color: white;
    text-align: center;
    padding: em(40);

    h3, p {
        font-size: rem(33);
        padding: em(30) 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li,img {
            padding: em(20) 0;
        }
    }
}

.posts img {
    max-width: 100%;
}

.posts .resources a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.posts .images {
    background-color: #95ebaa;
    padding: em(40) 0;

    h3 {
        color: black;
        font-family: "Reem Kufi", sans-serif;
        font-size: rem(42);
        text-align: center;
        padding-bottom: em(10);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    img {
        width: 100%;
        padding: em(30) 0;
    }
}
