.search-page {

    hr {
        display: none;
    }

    .search-container {
        padding: em(200) 0;
    }

    .ss-result {
        display: flex;
        margin: em(20);
    }

    a {
        color: white;
    }

    mark {
        color: black;
        font-weight: 500;
        background-color: #a6c822;
    }

    .ss-result__link {
        background-color: #cee27d;
        color: black;
        text-decoration: none;
        padding: em(5) em(15);
        transition: background-color .2s ease;

        &:hover {
            background-color: #a6c822;
        }
    }

    .ss-result__aside {
        margin-right: em(20);
    }

    .ss-result__title a{
        text-decoration: none;
        color: #a6c822;
    }

    .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;

        li {
            padding: em(10);

            a {
                color: #cee27d;
            }
        }
    }

}






//.search-page .ss-result__aside {

//}
