#search-input {
    background-color: black;
    text-align: center;
    padding: em(20) 0;
    display: none;

    input {
        width: 100%;
        font-size: rem(24);
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        padding: em(10) 0;
        border: 0;
        color: white;
        background: black;
    }

    input:focus{
        outline: 0;
    }


    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }
}
