{% set posts = __SELF__.posts %}

<div class="col-xs-6" id="comments-content">
    {% if(__SELF__.count) > 0 %}
    <h3 class="text-right"><span id="comments-count">{{ __SELF__.count }}</span> {{ 'lacaster.catclub::lang.comments.comments' | trans }}</h3>
    {% endif %}
    {% if(user or __SELF__.settings.allow_guest) %}

        {% partial "comments::form" %}

    {% endif %}
    <div class="comments">
        <ul>
            {% partial "comments::list" posts=posts %}
        </ul>
    </div>
</div>


