<div id="wrap-comment-form">
    <div class="row" id="comment-form">

        <h2 class="comment-reply-title">{{ 'lacaster.catclub::lang.comments.add_comment' | trans }}            <small><a onclick="Comment.cancel()" style="display: none;" rel="nofollow" id="cancel-comment-reply-link"
                      title="{{ 'lacaster.catclub::lang.comments.cancel_reply' | trans }}">×</a>
            </small>
        </h2>
        <form>
            <div id="comment_flash_message"></div>

            <!-- Content Field -->
            <div class="form-group">
                <textarea placeholder="{{ 'lacaster.catclub::lang.comments.leave_comment' | trans }}" class="form-control" id="comment-text" name="content" cols="50" rows="10"></textarea>

            </div>

            <input name="post_id" type="hidden" value="{{__SELF__.post_id}}">
            <!--<input name="name" type="hidden" value="{{__SELF__.post_id}}">-->


            <!-- Submit Field -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onclick="Comment.saveButton(event)">{{ 'lacaster.catclub::lang.comments.send' | trans }}</button>
            </div>
        </form>
	<p> Você pode usar síntaxe markdown.</p>
    </div>
</div>


