{% set editString = 'lacaster.catclub::lang.comments.edit' | trans %}
{% set cancelString = 'lacaster.catclub::lang.comments.cancel' | trans %}



{% for post in posts %}

{% if post.user is not null %}

<li>
    <div class="comment" id="comment-{{post.id}}">
        <div class="comment-avatar">

            {{ post.avatar | raw }}

        </div>
        <div class="comment-content">
            <div class="comment-header">
                <span class="comment-name">{{post.author}}</span>
                <a class="comment-date" href="#comment-{{post.id}}">
                    {{post.created_at.diffForHumans}}
                </a>
            </div>
            <div>{{post.content  | striptags | md | nl2br }}</div>
            <div class="comment-footer">
                {% if user %}
                <a class="comment-reply" onclick="Comment.reply(event,'{{post.id}}')">{{ 'lacaster.catclub::lang.comments.reply' | trans }}</a>
                {% endif %}
                {% if post.user_id == user.id %}
                -
                <a class="comment-reply" onclick="Comment.edit(event, '{{post.id}}', '{{post.content |  replace({ "\r\n": "\\r\\n", "\n": "\\n"," \r": "\\r" }) }}', '{{ editString }}', '{{ cancelString }}')">{{ 'lacaster.catclub::lang.comments.edit' | trans }}</a> -
                <a class="comment-reply" onclick="Comment.remove(event, '{{post.id}}')">{{ 'lacaster.catclub::lang.comments.remove' | trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    {% if post.children %}
    <ul>
        {% partial "comments::list" posts=post.children %}
    </ul>
    {% endif %}
</li>
{% endif %}

{% endfor %}
