#destaque {
    max-width: 100%;
    position: relative;
    z-index: -1;
}

#destaque picture img{
    max-width: 100%;
    width: 100%;
}

#destaque .gradiente {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%);
}

#destaque .texto {
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    color: white;
    width: 100%;
}

@media (max-width: 800px) {
    #destaque .texto {
        margin-bottom: 40px;
    }
}



#destaque .texto .title{
    font-family: "Reem Kufi", sans-serif;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 800px) {

    #destaque .texto .title{
        font-size: 2rem;
    }
}

@media (max-width: 600px) {

    #destaque .texto .title{
        font-size: 1.5rem;
    }

}

#destaque .texto .description{
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}


@media (max-width: 800px) {
    #destaque .texto .description{
        font-size: 1rem;
    }
}


@media (max-width: 600px) {
    #destaque .texto .description{
        font-size: 0.8rem;
    }
}
