[tema]
==
<!DOCTYPE html>
<html>
    {% partial "404/head" %}
    <body class="{{ this.session.get('status_tema') }}">

        <!-- Content -->
        {% page %}
        <!-- end-Content -->
        <script src="{{ ['assets/js/vendor/jquery.min.js','assets/js/tema.js','assets/js/busca.js','assets/js/familiagnu.js','assets/js/menumobile.js','assets/js/vendor/prism.js']|theme }}"></script>

       {% framework extras %}
       {% scripts %}
    </body>
</html>