description = "Esboço para páginas comuns"

[localePicker]
forceUrl = 1

[session]
security = "all"

[alternateHrefLangElements]

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[tema]
==
<!DOCTYPE html>
<html>
    {% partial "inner/head" %}
    <body class="{{ this.session.get('status_tema') }}">
    {% partial "common/flash" %}
    {% partial 'header' %}
    {% partial 'nav' %}
    {% partial 'search-input-blog' %}
        <!-- Content -->
     {% page %}
        <!-- end-Content -->
    {% partial 'footer' %}
    
       <script src="{{ ['assets/js/vendor/jquery.min.js','assets/js/tema.js','assets/js/busca.js','assets/js/familiagnu.js','assets/js/menumobile.js','assets/js/vendor/prism.js','assets/js/videos.js']|theme }}"></script>
       {% framework extras %}
       {% scripts %}
    </body>
</html>