description = "Layout for the homepage of blog Libre Designers"

[alternateHrefLangElements]

[localePicker]
forceUrl = 1

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[session]
security = "all"

[tema]
==
<!DOCTYPE html>
<html>
    {% partial "home/head" %}
    <body class="{{ this.session.get('status_tema') }}">
        {% partial "common/flash" %}
        <!-- Content -->
        {% page %}
        <!-- end-Content -->

       <script src="{{ ['assets/js/vendor/jquery.min.js','assets/js/tema.js','assets/js/busca.js','assets/js/familiagnu.js','assets/js/menumobile.js','assets/js/vendor/prism.js']|theme }}"></script>
       {% framework extras %}
       {% scripts %}
    </body>
</html>