description = "Páginas internas"

[staticPage innerPage]
useContent = 1
default = 0

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[session]
security = "all"

[alternateHrefLangElements]

[localePicker]
forceUrl = 1

[tema]
==
<?php
function onEnd() {
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
    $this->page->meta_title = $this->meta_title;
    $this->page->description = $this->meta_description;
    
}
?>
==
<!DOCTYPE html>
<html>
    {% partial "inner/head" %}
    <body class="{{ this.session.get('status_tema') }}">
    {% partial "common/flash" %}
    {% partial 'header' %}
    {% partial 'nav-small' %}
    {% partial 'search-input-blog' %}
    <!-- Content -->
    <div id="inner-page">
        <header>
            <div class="container">
                <h2>{{ page.title }}</h2>
            </div>
        </header>
        <div class="container container--large">
            {% page %}
        </div>
    </div>
    <!-- end-Content -->
    {% partial 'footer' %}
    
       <script src="{{ ['assets/js/vendor/jquery.min.js','assets/js/tema.js','assets/js/busca.js','assets/js/familiagnu.js','assets/js/menumobile.js','assets/js/vendor/prism.js']|theme }}"></script>

       {% framework extras %}
       {% scripts %}
    </body>
</html>