#blog-post .blog-post {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: left;
    padding: rem(0);
    line-height: 2;
    font-size: em(20);
    font-weight: 300;

    a {
        color: white;
    }

    img {
        max-width: 100%;
    }

    .image-container {
        text-align: center;
        width: 100%;
        background-color: #0e1946;
        padding: rem(50) rem(10) rem(40);
    }

    pre {
        background-color: #0e1946;
        width: 100%;
        max-width: 100%;
        padding: rem(50) rem(10) rem(40);
        display: flex;
        justify-content: center;



        code {
            display: block;
            max-width: 100%;
            padding: 0 em(30);
            max-width: em(1200);
            margin: 0 auto;
            overflow: auto;

            @media(max-width: 700px){
                 font-size: em(14);
            }

            @media(max-width: 600px){
                font-size: em(11);
            }
        }
    }
}

.light {
    #blog-post .blog-post {
        color: black;

        a {
            color: black;
        }

        a.special {
            color: white;
        }

        .image-container {
            background-color: #f3f3f8;
        }

        pre {
            background-color: #f3f3f8;
        }
    }


}


