#comments-content {
    margin-bottom: rem(60);

    .comment-reply-title {
        color: white;
        border-top: 4px solid white;
    }

    .form-group {
        margin-bottom: rem(10);

        label {
            display: block;
            padding-bottom: rem(10);
        }
    }

    input, textarea {
        font-size: 15px;
        font-size: em(16);
        border: 0;
        border-radius: 0.3125rem;
        background-color: transparent;
        padding: rem(10) rem(10);
        width: 100%;
        border: 2px solid white;
        color: white;
    }

    button {
        padding: rem(16) rem(26);
        cursor: pointer;
        float: right;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        transition: all .5s ease;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    ::-webkit-input-placeholder { /* Edge */
        color: white;
        font-weight: 300;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
        font-weight: 300;
    }

    ::placeholder {
        color: white;
        font-weight: 300;
    }
}


.light {

    #comments-content {

        ::-webkit-input-placeholder { /* Edge */
            color: black;
            font-weight: 300;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: black;
            font-weight: 300;
        }

        ::placeholder {
            color: black;
            font-weight: 300;
        }

        input, textarea {
            border: 2px solid black;
            color: black;
        }


        button {
            border: 2px solid black;
            background-color: transparent;
            color: black;
            transition: all .5s ease;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}



