#blog-post {

    header{
        margin: rem(120) 0 rem(70);

        h2 {
            font-size: em(70);
            font-family: "Reem Kufi", sans-serif;
            text-align: center;

            @media(max-width: 800px) {
                font-size: em(50);
            }
            
            @media(max-width: 600px) {
               font-size: em(35);
            }
                
        }
    }


    a {
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .categorias {
        text-align: center;

        a {
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            color: white;
            font-size: em(20);
            font-weight: 800;
            margin:0 rem(10);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .icons-post {
        margin-top: rem(50);
        display: flex;
        text-align: center;
        justify-content: center;

        > div {
            margin: 0 rem(10);
            display: flex;
            align-items: center;
        }

        svg {
            margin: 0 rem(7);
        }

    }
}

.light #blog-post header{
    .categorias a {
        color: black;
    }
    svg path {
        fill: black !important;
    }

    .like-button svg path {
        fill: transparent !important;
        stroke: black !important;
    }

    .like-button.ativo svg path {
        fill: black !important;
    }
}

