.video-wrapper {
    max-width: 100%;
    overflow: hidden;
    display: none;
    height: rem(600);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    resize: both;
    position: relative;
    z-index: 1;


    video {
        width: 100%;
        height: 100%;
    }

    iframe {

        width: 100%;
        height: 100%;
    }
    
    @media(max-width: 800px) {
         height: rem(400);   
    }
    
    @media(max-width: 500px) {
         height: rem(300);   
    }
    

}


.video-wrapper.ativo {
    display: block;
}

.video-botoes {

    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.descricao-timeline {
    display: flex;

    .descricao-video {
        width: 70%;
    }

    .video-timeline {
        margin: 20px;
        width: 30%;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
    
    @media(max-width: 600px) {
        flex-direction: column-reverse;
        
        .descricao-video {
             width: 100%;   
        }
        
        .video-timeline {
            margin: 20px;
            width: 100%;
        }
    }
}