.link-back-404 {
    color: white;
}

.light .link-back-404 {
    color: black;
}

a.link-back-404 {
    color: white;
    text-decoration: none;
    text-align: center;
}

.container-404 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;

    svg {
        max-width: 100%;
        padding: rem(20);
    }

    h1,h2 {
        line-height: 1;
        margin: 0;
    }

    h1 {
        font-family: "Aclonica",sans-serif;
    }

    h2 {
        margin-top: rem(10);
        font-family: "Open Sans",sans-serif;
        font-weight: 500;
        font-size: em(20);
    }
}