html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #0b0b18;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body.light{
    background-color: #ffffff;
    color: black;
}

a {
    cursor: pointer;
}


.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 em(30);
    max-width: em(1200);
}

.container.container--large {
    max-width: 1200px;
}

.container.container--small {
    max-width: 800px;
}

a.special {
    text-decoration: none;
}



button.special {
    background-color: #136645;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: em(20);
    padding: rem(25) rem(45);
    border: 0;
    border-radius: rem(3);
    margin-top: rem(50);

    &:hover {
        background-color: #178559;
        cursor: pointer;
    }

    @media(max-width: 600px){
        font-size: em(18);
        padding: rem(16) rem(28);
    }
}

a.special {
    background-color: #136645;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
    font-size: em(20);
    padding: rem(25) rem(45);
    border: 0;
    border-radius: rem(3);
    display: inline-block;


    &:hover {
        background-color: #178559;
        cursor: pointer;
        text-decoration: none !important;
    }

    @media(max-width: 600px){
        font-size: em(18);
        padding: rem(16) rem(28);
    }
}



a {
    word-wrap: break-word;
}

.stripe-loading-indicator {
    .stripe {
        background-color: #054832 !important;
    }
}


.stripe-loading-indicator.loaded{

    background-color: #054832;

    .stripe {
        background-color: #054832;
    }

    .stripe-loaded {
        background-color: #054832;
    }

}
