$bar_color: #000000;

/* Works on Firefox */
* {
  scrollbar-width: large;
  scrollbar-color: $bar_color white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: $bar_color;
  border-radius: 0px;
  border: 0px solid white;
}

