$background_selection_color: white;
$text_selection_color: black;

::-moz-selection { background: $background_selection_color; color: $text_selection_color;  }
::selection { background: $background_selection_color; color: $text_selection_color; }


.light ::-moz-selection { background: black; color: white;  }
.light ::selection { background: black; color: white; }
