$font-size: 16;         // Your base font-size in pixels
$em: $font-size*1em;    // Shorthand for outputting ems, e.g. "12/@em"
$rem: $font-size*1rem;  // Shorthand for outputting ems, e.g. "12/@rem"

$phone: 420px;
$tablet: 768px; 
$desktop: 1024px;



$hero-gradiente-1:   #130082;
$hero-gradiente-2:   #530057;

$border-navbar-hero: #15b6ff;
$border-fixed-navbar-home: $border-navbar-hero;

$sobre-elements: #0c0087;
$background-chamada: #150081;