{% set profile  = __SELF__.profile %}
{% set user_first_name =  profile.user.first_name|lower %}
{% set cat_generator_string = '/cat-generator/' ~ user_first_name %}

<div id="profile">
    <section class="profile">
        <a href="/{{ activeLocale }}/usuario/{{ profile.user.id }}" >
            <div class="container-avatar">
                {% if profile.user %}
                    <img class="avatar" src="{{ profile.user.getAvatarThumb(115) }}" alt="">
                {% else %}
                    <img class="avatar" src="{{ cat_generator_string }}" alt="{{ post.user.first_name }}">
                {% endif %}
            </div>
        </a>
    </section>
    <section class="sobre">
        <p>{{ 'lacaster.profile::lang.profile.chamada'|trans}} <strong>{{ profile.user.first_name }}</strong> {{ 'lacaster.profile::lang.profile.em'|trans}}  {{ post.published_at|date('d M Y') }}.</p>
        <div class="descricao">
            {% if activeLocale == "pt-br" %}
                {{ profile.about_me_pt_br }}
            {% elseif activeLocale == "en" %}
                {{ profile.about_me_en }}
            {% endif %}
        </div>
        <div class="redes-sociais">
            {% if profile.website is not empty %}
            <a href="{{ profile.website }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/website.svg" %}
            </a>
            {% endif %}
            {% if profile.diaspora is not empty %}
            <a href="{{ profile.diaspora }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/diaspora.svg" %}
            </a>
            {% endif %}
            {% if profile.quitter is not empty %}
            <a href="{{ profile.quitter }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/gnusocial.svg" %}
            </a>
            {% endif %}
            {% if profile.software_livre_brasil is not empty %}
            <a href="{{ profile.software_livre_brasil }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/softwarelivrebrasil.svg" %}
            </a>
            {% endif %}
            {% if profile.mastodon is not empty %}
            <a rel="me" href="{{ profile.mastodon }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/mastodon.svg" %}
            </a>
            {% endif %}
            {% if profile.pixelfed is not empty %}
            <a href="{{ profile.pixelfed }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/pixelfed.svg" %}
            </a>
            {% endif %}
            {% if profile.pleroma is not empty %}
            <a href="{{ profile.pleroma }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/pleroma.svg" %}
            </a>
            {% endif %}
            {% if profile.friendica is not empty %}
            <a href="{{ profile.friendica }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/friendica.svg" %}
            </a>
            {% endif %}
            {% if profile.socialhome is not empty %}
            <a href="{{ profile.socialhome }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/socialhome.svg" %}
            </a>
            {% endif %}
            {% if profile.hubzilla is not empty %}
            <a href="{{ profile.hubzilla }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/hubzilla.svg" %}
            </a>
            {% endif %}
            {% if profile.pumpio is not empty %}
            <a href="{{ profile.pumpio }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/gnusocial.svg" %}
            </a>
            {% endif %}
            {% if profile.gnusocial is not empty %}
            <a href="{{ profile.gnusocial }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/gnusocial.svg" %}
            </a>
            {% endif %}
            {% if profile.funkwhale is not empty %}
            <a href="{{ profile.funkwhale }}" target="_blank">
                {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/funkwhale.svg" %}
            </a>
            {% endif %}
        </div>
    </section>

</div>
