#hero {
     padding: em(100) 0;
     background: #001733;
     text-align: center;

     .container-svg {
         max-width: 100%;
         svg {
             max-width: rem(300);
         }
     }

    h1 {
        font-family: 'Reem Kufi', sans-serif;
        font-size: rem(37);
        font-weight: bold;
        padding: 0;
        margin: em(20) auto 0;
        max-width: em(190);

         @media(max-width: $tablet) {
            font-size: rem(40);
            margin-top: em(5);
         }

        @media(max-width: $phone) {
            font-size: rem(25);
        }

    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: rem(24);
        padding: 0;
        margin: em(20);

        @media(max-width: $tablet) {
            font-size: rem(20);
        }

        @media(max-width: $phone) {
            font-size: rem(15);
        }

        a {
            color: white;
            text-decoration: none;
        }

        span {
            font-weight: 800;
        }
    }
}

