#home-nav {

    font-family: "Open Sans", sans-serif;
    background-color: #13172a;
    margin: 0;
    padding: 0;

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        margin: 0;
        text-align: center;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        padding: 0;
        margin: em(30) em(20);
    }

    .submenu {

        padding-top: em(5);
        position: relative;

        a {
            font-size: rem(21);
            text-transform: uppercase;
            padding: em(10) em(17) em(10) em(24);
            line-height: 0;
            font-weight: 300;


        }

        &:hover > a {
            background-color: #126644;

            &:after {
                content: "\25B2";
            }

        }

        >a:after {
            margin-left: em(2);
            content: "\25BC";
        }



        > ul{

            margin: 0;
            margin-top: em(30);
            padding: 0;
            position: absolute;
            background-color: #1a9160;
            width: em(200);
            top: em(37);
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease;

            li {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            a {
                line-height: 1;
                text-transform: capitalize;
                text-align: left;
                width: 100%;
                height: 100%;
                font-size: rem(16);
                display: inline-block;
                margin: 0;
                padding: em(20) em(15);
                border-radius: 0;
                border-left: 0;
                transition: all .5s ease;
                border-left: em(0) #082d24 solid;

                &:hover {
                    border-left: em(10) #082d24 solid;
                    background-color: #0f5845;
                }
            }
        }

        &:hover > ul {
            visibility: visible;
            opacity: 1;
            margin-top: em(2);
        }
    }
}

@media(max-width: 800px) {
    #home-nav {
        display: none;
    }
}

#home-nav--mobile {

    z-index: 1;
    text-transform: uppercase;
    position: fixed;
    background-color: #13172a;
    color: white;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    padding: em(40) em(20) em(80) em(40);
    font-size: rem(20);
    transform: translateX(100%);
    transition: all .5s ease;

    @media(max-width: 600px) {
        padding: em(40) em(20) em(80);
    }

    h3 {
        padding: 0;
        margin: 0;
        font-size: rem(30);
        color: white;
        font-family: "Acme-regular", sans-serif;
        margin-bottom: em(50);
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    .submenu {
        font-size: rem(20);
        margin-bottom: em(20);
        ul {
            display: none;
            width: 100%;
            margin-left: em(20);
            margin-top: em(20);

            li {
                padding: em(10) em(20) em(10) 0;
                text-transform: capitalize;
            }
        }

        &.ativo ul {
            display: block;
        }

        &.ativo > a {
            &:after {
                content: "\25B2";
            }
        }

        >a:after {
            margin-left: em(2);
            content: "\25BC";
        }


    }

    .theme--mobile,
    .rss--mobile{
        margin-bottom: em(20);
        font-size: rem(20);
        cursor: pointer;
    }

    .locale a {
        color: #999999;

        &.ativo {
            color: white;
        }
    }
}

@media(max-width: 800px) {
    #home-nav--mobile.ativo {
        display: block;
        transform: translateX(0%);
    }
}

