#profile {
    display: flex;
    padding: 0;
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 0rem;
    margin-top: 4rem;
}

#profile img {
    border-radius: 20rem;
    margin-right: 1rem;
}

#profile .sobre {
    padding: 0;
}

#profile p{
    line-height: 1.5;
    margin-top: 0.5rem;
}

#profile .sobre .descricao {
    margin-bottom: 1rem;
    line-height: 1.5;
}

#profile a {
    text-decoration: none;
}

@media(max-width: 700px) {
    #profile {
        flex-direction: column;
    }

    #profile img {
        margin: 0 auto;
    }

    #profile .profile {
        text-align: center;
        margin: 3rem 0 1rem;
    }
}
