[viewBag]
title = "About"
meta_title = "About us"
meta_description = "Libre Designers is a collaborative blog that seeks to promote the use of Free Software in Design and the application of Design in Free Software. In addition, it will also address related areas such as graphic arts and the use of programming applied to Design."
==
<p>Libre Designers is a collaborative blog that seeks to promote the use of Free Software in Design and the application of Design in Free Software everything done from apprentice to apprentice. In addition, it will also cover related areas such as graphic arts and the use of programming applied to Design. If you are a user of free software in the multimedia area and want to pass on some of what you know to the community,&nbsp;<a href="https://libredesigners.org/junte-se-a-nos">you will be very welcome</a> in this project.</p>