[viewBag]
title = "Free Resources"
meta_title = "Free resources"
meta_description = "Free resources repository for use and learning in libre software."
==
<p>Repository of free resources for use and learning in free software. This page will change frequently.</p>

<p>Although it is often not mandatory, remember to cite the sources of the resources in your work. It is important.</p>

<ul>
	<li><a href="#fonts"> Typographic fonts </a></li>
	<li><a href="#images"> Image Banks </a></li>
	<li><a href="#svg"> SVG </a></li>
	<li><a href="#3Dmodels"> 3D models </a></li>
	<li><a href="#hdri"> HDRI </a></li>
	<li><a href="#textures"> Texturas </a></li>
	<li><a href="#courses"> Cursos </a></li>
	<li><a href="#channels"> Video Channels </a></li>
	<li><a href="#sites"> Tutorial sites </a></li>
</ul>

<p>
	<br>
</p>

<h2 id="fonts">Typographic fonts</h2>

<ul>
	<li><a href="https://www.fontsquirrel.com/">Font Squirrel </a></li>
	<li><a href="https://fonts.google.com/">Google Fonts </a></li>
	<li><a href="https://www.websiteplanet.com/blog/best-free-fonts/" rel="noopener noreferrer" target="_blank">Website planet - 70+ Best Free Fonts for Designers</a> (Thanks to Fabíola)</li>
</ul>

<h2 id="images">Image banks</h2>

<ul>
	<li><a href="https://pixabay.com" target="_blank"> Pixabay </a></li>
	<li><a href="https://unsplash.com/" rel="noopener noreferrer" target="_blank"> Unsplash </a></li>
	<li><a href="https://www.pexels.com/" rel="noopener noreferrer" target="_blank"> Pexels </a></li>
</ul>

<h2 id="svg">SVG</h2>

<ul>
	<li><a href="https://freesvg.org/" target="_blank"> FreeSVG </a></li>
</ul>

<h2 id="3Dmodels">3D models</h2>

<ul>
	<li><a href="https://3dmodelhaven.com/" target="_blank"> 3d Model Haven </a></li>
</ul>

<h2 id="hdri">HDRI</h2>

<ul>
	<li><a href="https://hdrihaven.com/" target="_blank"> HDRI Haven </a></li>
</ul>

<h2 id="textures">Textures</h2>

<ul>
	<li><a href="https://texturehaven.com/" target="_blank"> Texture Haven </a></li>
</ul>

<h2 id="courses">Courses</h2>

<ul>
	<li>Desenho

		<ul>
			<li><a href="https://www.udemy.com/introduction-to-pencil-drawing-and-shading-course/" target="_blank">Introduction to Pencil Drawing and Shading Course </a>(Homa Tayefeh, Matin Shafiei, Milad Ahmadi)</li>
		</ul>
	</li>
	<li>Digital Painting

		<ul>
			<li><a href="https://www.udemy.com/digitally-painting-and-drawing-eyes/" target="_blank">Digitally Painting and Drawing Eyes</a> (Austin Batchelor)</li>
		</ul>
	</li>
</ul>

<h2 id="channels">Video Channels</h2>

<ul>
	<li><a href="https://www.youtube.com/user/DeevadRevoy" target="_blank">David Revoy</a> (Digital Illustration, Krita) (YouTube)</li>
	<li><a href="https://www.youtube.com/channel/UCEQXp_fcqwPcqrzNtWJ1w9w/videos">Logos by nick</a> (Logo design, inkscape, gimp) (YouTube)</li>
	<li><a href="https://vimeo.com/daftspunk" target="_blank">Samuel Georges </a> (Web Development, October CMS) (Vimeo)</li>
</ul>

<h2 id="sites">Sites</h2>

<ul>
	<li><a href="https://www.2dgameartguru.com/" target="_blank">2D Game Art Guru</a> (Inkscape and Gimp)</li>
	<li><a href="http://tuts.ahninniah.graphics/" target="_blank">Art Tuts</a> (Inkscape)</li>
	<li><a href="https://pixls.us/" target="_blank">PIXLS.US - Free/Open Source Photography</a> (Various free tools)</li>
	<li><a href="https://watch-learn.com/" rel="noopener noreferrer" target="_blank">Watch + learn</a> (Web Development, October CMS)</li>
</ul>

<p>
	<br>
</p>