[viewBag]
title = "Paid resources"
meta_title = "Paid Resources Page"
meta_description = "Repository of paid resources for use and learning in free software."
==
<p>Repository of paid resources for use and learning in free software. This page will change frequently.</p>

<p><a href="#courses">Courses</a></p>

<h2 id="courses">Courses</h2>

<ul>
	<li><a href="https://pt.coursera.org/specializations/graphic-design" rel="noopener noreferrer" target="_blank">Graphic Design (Specializations)</a> (Coursera - CALARTS)</li>
	<li>Blender

		<ul>
			<li><a href="https://www.udemy.com/the-shining-learn-blender-for-production/" target="_blank">The Shining - Learn Blender for Production</a> (Kris Lee)</li>
			<li><a href="https://www.udemy.com/spacevfx" target="_blank">Space VFX</a> (Aidy Burrows, Gleb Alexandrov)</li>
		</ul>
	</li>
	<li>Scribus

		<ul>
			<li><a href="https://www.udemy.com/desktop-publishing-using-scribus-like-adobe-indesign/" target="_blank">Desktop Publishing Using Scribus</a> (Steve Czajka)</li>
		</ul>
	</li>
</ul>