[viewBag]
title = "Join us"
meta_title = "Join us"
meta_description = "So you enjoyed the project and want to participate? Nice! So read this page and join us."
==
<p>Libre Designers is a collaborative blog about the use of Free Software in Design and Design applications in Free Software. As long as your article is copyrighted you are free to publish and share.</p>

<p>Subjects can cover the most different areas of Design, such as:</p>

<p>
	<br>
</p>

<ul>
	<li>Interface Design</li>
	<li>Game design</li>
	<li>Graphic design</li>
	<li>Sound design</li>
	<li>Design Theory</li>
</ul>

<p>…</p>

<p>among other areas, but always focusing on the use or application in Free Software.</p>

<p>Areas with some similarity to Design can also be addressed such as:</p>

<ul>
	<li>Graphic Arts</li>
	<li>Generative Art (Processing)</li>
	<li>Front End Web Development</li>
</ul>

<p>…</p>

<p>Interested? Nice! Then <a href="https://libredesigners.org/en/contact">send us a message</a> so that we can register you as an author.</p>