.form-container{
    width: 90%;
    margin: 0 auto 200px;
}

@media(min-width: 550px){
    .form-container{
        width: 70%;
    }
}

.form-container .bt-voltar{
    background-color: #198a5e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
    text-align: center;
    width: 110px;
    margin-top: 20px;
}

.form-container  a{
    font-size: 14px;
    text-decoration: none;
}

.form-container .bt-voltar
.form-container .bt-voltar:hover,
{
    color: #fff;
    text-decoration: none;
}


.form-container .bt-voltar:hover{
    background-color: #0e4d34;
}


.form-container .bt-voltar:active{
    background-color: #093020;
}
.form-container h3{
    text-align: center;
    color: #198a5e;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 30px;
    margin: 40px 0 10px;
    padding: 0;
}

.form-container .descricao {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 30px;
    padding: 0;
    line-height: 1.5;
}

.form-container hr{
    border: 1px solid #198a5e;
    width: 50%;
}

.form-register {
    margin-top: 30px;
}

.form-register .form-group{

    width: 100%;
    padding: 0px 0px 0px 0px;
    display: inline-block;

}

@media(min-width: 768px){

    .form-register .form-group {
        padding: 0px 20px 10px 0px;
        width: 49%;
        padding-right: 30px;
    }

}

.form-register .form-group.full {
    width: 100%;
    padding-right: 0px;
}

@media(min-width: 768px){

    .form-register .form-group.full {
        width: 100%;
        padding-right: 35px;
    }
}


.form-register .form-group input {
    width: 100%;
    background-color: #f6f4f4;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.form-register ::-webkit-input-placeholder { /* Edge */

    color: white;
    font-weight: 300;
}

.form-register :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: 300;
}

.form-register ::placeholder {
    color: white;
    font-weight: 300;
}


.light .form-register ::-webkit-input-placeholder { /* Edge */
    color: black;
    font-weight: 300;
}

.light .form-register :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-weight: 300;
}

.light .form-register ::placeholder {
    color: black;
    font-weight: 300;
}

.light .form-register input, .form-register textarea {
    border: 2px solid black;
    color: black;
}


.form-register button {
    background-color: #198a5e;
    color: #fff;
    text-align: center;
    border: 0;
    padding: 10px 40px;
    border-radius: 30px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
}

.form-register button:hover {
    background-color: #0e4d34;
}

.form-register button:hover {
    background-color: #093020;
}

.help-block {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #f34d4d;
    display: none;
}

.light .help-block {
    color: #a70808;
}

.erro {
    display: block;
    color: #f34d4d;
}

.light .erro {
    color: #a70808;
}

.form-container .form-group input.erro {
    border: 2px solid #f34d4d;
}

.light .form-container .form-group input.erro {
    border: 2px solid #a70808;
}


