
.form-container{
    width: 90%;
    margin: 0 auto 200px;
}

.form-container .bt-voltar{
    background-color: #198a5e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
    text-align: center;
    width: 110px;
    margin-top: 20px;
}

.form-container .bt-desativar{
    background-color: #940000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
    text-align: center;
    width: 210px;
    margin-top: 20px;
    margin: 20px auto;
}

.form-container .bt-desativar:hover {
    background-color: #520000;
}


.form-container .mensagem {
    text-align: center;
    margin: 40px 0;
}

.form-container .bt-voltar
.form-container .bt-voltar:hover,
{
    color: #fff;
    text-decoration: none;
}


.form-container .bt-voltar:hover{
    background-color: #0e4d34;
}


.form-container .bt-voltar:active{
    background-color: #093020;
}

@media(min-width: 550px){
    .form-container{
        width: 60%;
    }
}

.form-container h3{
    text-align: center;
    color: #198a5e;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 30px;
    margin: 40px 0 10px;
    padding: 0;
}

.form-container .descricao {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 30px;
    padding: 0;
}

.form-container hr{
    border: 1px solid #198a5e;
    width: 50%;
}
.form-container a{

    color: #198a5e;
    text-decoration: none;
    font-size: 14px;

}


.form-container a.link:hover {

    color: #0e4d34;
    text-decoration: underline;

}

.form-container form{
    margin-top: 30px;
}


form .form-group {
    width: 100%;
    padding: 0px 0px 0px 0px;
    display: inline-block;
}


form .form-group.half {
    width: 48%;
    margin-right: 10px;
}

form .form-group.half.second {
    width: 49.5%;
    margin-right: 0px;
}


@media(max-width: 1200px){
    form .form-group.half{
        width: 100%;
        margin: 0;
    }

    form .form-group.half.second {
        width: 100%;
        margin-right: 0;
    }
}


form fieldset {
    border-color: #198a5e;
    margin: 0 0 20px 0;
}


.button_container{
    display: flex;
    justify-content: center;
}

.bt_usuario {
    background-color: #198a5e;
    color: #fff;
    border: 0;
    padding: 12px 20px;
    margin: 20px 10px 0;
    border-radius: 20px;
    cursor: pointer;
}

.bt_usuario:hover{
    background-color: #0e4d34;
}

.bt_usuario:active {
    background-color: #093020;
}



form .form-group input{

    width: 100%;
    background-color: #f6f4f4;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;

}

form .form-group select{

    width: 100%;
    background-color: #f6f4f4;
    border: 0;
    outline-color: #206490;
    padding: 10px;

}

form button {

    background-color: #198a5e;
    color: #fff;
    text-align: center;
    border: 0;
    padding: 10px 40px;
    border-radius: 30px;
    float: right;
    margin-top: 20px;
    cursor: pointer;
}


form button:hover {
    background-color: #0e4d34;
}

form button:active {
    background-color: #093020;
}

.help-block {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #a70808;
    display: none;
}

.erro {
    display: block;
    color: #a70808;
}

.form-container .form-group input.erro {
    border: 2px solid #a70807;
}


.light form .form-group input{
    border: 2px solid black;
    color: black;
    background-color: #f6f4f4;
}
