title = "Página não encontrada"
url = "/404"
layout = 404
description = "Página não encontrada."
meta_title = "Página não encontrada."
meta_description = "Página não encontrada."
is_hidden = 0

[viewBag]
localeTitle[en] = "Page not found"
localeMeta_title[en] = "Page not found."
localeMeta_description[en] = "Page not found."

[localePicker]
forceUrl = 1
==
<a class="link-back-404" href="/{{ activeLocale }}">
    <div class="container-404">
        {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/404.svg" %}
        <h1>Libre Designers</h1>
        <h2>{{"Página não encontrada."|_}}</h2>
        <p>{{"Clique em qualquer lugar para voltar para a página inicial."|_}}</p>
    </div>
</a>