title = "Modo de manutencao"
url = "/manutencao"
layout = 404
description = "O site do Libre Designers está em manutenção. Volte em breve."
meta_title = "O site do Libre Designers está em manutenção. Volte em breve."
meta_description = "O site do Libre Designers está em manutenção. Volte em breve."
is_hidden = 0
==
<div class="container-404">
        {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/404.svg" %}
        <h1>Libre Designers</h1>
        <h2>{{"O site do Libre Designers está em manutenção. Volte em breve. :-)"|_}}</h2>
    </div>