title = "Resultado"
url = "/resultado/:search/:page?"
layout = "blogpage"
is_hidden = 0

[searchResultsExtended]
searchTerm = "{{ :search }}"
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category-page"
postPage = "blog/post-page"

[session]
security = "all"
==
<?php
use RainLab\Translate\Classes\Translator;

function onEnd() {
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
    
    // get the post component
    $_search = $this->components['searchResultsExtended'];
    $_searchFilter = $_search->searchTerm; // post is the alias of my component

    $this->translator = Translator::instance();
    $_activeLocale = $this->translator->getLocale();
    
      // update the page title
    if($_activeLocale == "en") {
        $this->page->meta_title = "Search by term '" . $_searchFilter ."'" ;
        $this->page->description = "Search Page for Term '" . $_searchFilter. "'" ;
        $this->app_description = "Art, Design and Programming with Free Software.";
    }

    if($_activeLocale == "pt-br") {
        $this->page->meta_title = "Busca pelo termo '" . $_searchFilter ."'" ;
        $this->page->description = "Página de busca para o termo '" . $_searchFilter. "'" ;
    }
    
}
?>
==
{% set posts = searchResultsExtended.posts %}
{% set count_posts = searchResultsExtended.count_posts %}
{% set count_likes = searchResultsExtended.count_likes %}
{% set count_comments = searchResultsExtended.count_comments %}


<div id="blogposts">
    <div class="container">
        <h2 id="postagens">{{ 'Resultado para a busca:'|_ }} "{{ searchResultsExtended.searchTerm }}".</h2>
        <ul class="post-list">
            {% for post in posts %}

            <li>
                <div class="box-image-featured">
                    {% for image in post.featured_images|slice(0, 1) %}
                    <a href="{{ post.url }}"><img data-src="{{ image.filename }}" src="{{ image.path| resize(400, 300, { mode: 'crop'}) }}" alt="{{ image.description }}"></a>
                    {% endfor %}
                </div>
                <div class="container-text">

                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="categorias">
                        {% for category in post.categories %}
                        <a href="{{ category.url }}">#{{ category.name }}</a>{% if not loop.last %} {% endif %}
                        {% endfor %}
                    </div>
                    <div class="resumo">{{ post.summary | raw }}</div>

                    <div class="author-info">
                        <a href="/{{ activeLocale }}/usuario/{{ post.user.id }}">
                            <div class="circulo">
                                {% if post.user %}
                                <img class="avatar" src="{{ post.user.getAvatarThumb(55) }}" alt="">
                                {% else %}
                                <img class="avatar" src="{{ cat_generator_string }}" alt="{{ post.user.first_name }}">
                                {% endif %}
                            </div>

                            <p class="info-postagem">
                                <span class="nome">{{ post.user.first_name }}</span>
                                <span class="data">{{ post.published_at|date('d M, Y') }}</span>
                            </p>
                        </a>
                    </div>
                    <div class="icons-post">
                        {% if count_comments[post.id] > 0 %}
                        <div class="comments">

                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/caixa-dialogo.svg" %}
                            <span class="value">{{ count_comments[post.id] }}</span>
                        </div>
                        {% endif %}
                        {% if count_likes[post.id] > 0 %}
                        <div class="likes">
                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/coracao-no-border.svg" %}
                            <span class="value">{{ count_likes[post.id] }}</span>
                        </div>
                        {% endif %}
                        {% if post.views > 0 %}
                        <div class="views">
                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/olho.svg" %}
                            <span class="value">{{ post.views }}</span>
                        </div>
                        {% endif %}
                    </div>
            </li>
            {% else %}
            <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
            {% endfor %}
        </ul>


        {% if posts.lastPage > 1 %}
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}#postagens">&larr; {{"Anterior"|_}}</a></li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}#postagens">{{ page }}</a>
                </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}#postagens">{{"Próximo"|_}} &rarr;</a></li>
            {% endif %}
        </ul>
        {% endif %}



        </div>
    </div>
</div>

{% partial 'searchResultsExtended::pagination' posts=posts %}