title = "Usuário"
url = "/usuario/:id/:page?"
layout = "blogpage"
is_hidden = 0

[Profile]
user_id = "{{ :id }}"

[PostsProfile]
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "Nenhuma postagem encontrada."
sortOrder = "published_at desc"
categoryPage = "blog/category-page"
postPage = "blog/post-page"
==
<?php
function onEnd() {
    
    $profile = $this->components['Profile'];
    $nome = $profile->profile->user->first_name;
    $descricao = $profile->profile->about_me_pt_br;

    $this->page->meta_title = "Página do Usuário " . $nome;
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
    $this->page->description = $descricao;
    
}
?>
==
{% set profile  = Profile.profile %}
{% set posts = Profile.posts %}
{% set count_posts = Profile.count_posts %}
{% set count_likes = Profile.count_likes %}

<div class="container container--large">
    <div id="profile">
        <section class="profile">
            <div class="container-avatar">
                <a href="/usuario/{{ profile.user.id }}">
                    {% if profile.user %}
                    <img class="avatar" src="{{ profile.user.getAvatarThumb(115) }}" alt="">
                    {% else %}
                    <img class="avatar" src="{{ cat_generator_string }}" alt="{{ post.user.first_name }}">
                    {% endif %}
                </a>
            </div>
        </section>
        <section class="sobre">
            <h3 class="titulo">{{ "Sobre"|_ }} {{ profile.user.first_name }}</h3>
            <div class="descricao">
                {% if activeLocale == "pt-br" %}
                {{ profile.about_me_pt_br }}
                {% elseif activeLocale == "en" %}
                {{ profile.about_me_en }}
                {% endif %}
            </div>
            <div class="redes-sociais">
                {% if profile.website is not empty %}
                <a href="{{ profile.website }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/website.svg" %}
                </a>
                {% endif %}
                {% if profile.diaspora is not empty %}
                <a href="{{ profile.diaspora }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/diaspora.svg" %}
                </a>
                {% endif %}
                {% if profile.quitter is not empty %}
                <a href="{{ profile.quitter }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/gnusocial.svg" %}
                </a>
                {% endif %}
                {% if profile.software_livre_brasil is not empty %}
                <a href="{{ profile.software_livre_brasil }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/softwarelivrebrasil.svg" %}
                </a>
                {% endif %}
                {% if profile.mastodon is not empty %}
                <a rel="me" href="{{ profile.mastodon }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/mastodon.svg" %}
                </a>
                {% endif %}
                {% if profile.pixelfed is not empty %}
                <a href="{{ profile.pixelfed }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/pixelfed.svg" %}
                </a>
                {% endif %}
                {% if profile.pleroma is not empty %}
                <a href="{{ profile.pleroma }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/pleroma.svg" %}
                </a>
                {% endif %}
                {% if profile.friendica is not empty %}
                <a href="{{ profile.friendica }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/friendica.svg" %}
                </a>
                {% endif %}
                {% if profile.socialhome is not empty %}
                <a href="{{ profile.socialhome }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/socialhome.svg" %}
                </a>
                {% endif %}
                {% if profile.hubzilla is not empty %}
                <a href="{{ profile.hubzilla }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/hubzilla.svg" %}
                </a>
                {% endif %}
                {% if profile.pumpio is not empty %}
                <a href="{{ profile.pumpio }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/gnusocial.svg" %}
                </a>
                {% endif %}
                {% if profile.gnusocial is not empty %}
                <a href="{{ profile.gnusocial }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/gnusocial.svg" %}
                </a>
                {% endif %}
                {% if profile.funkwhale is not empty %}
                <a href="{{ profile.funkwhale }}" target="_blank">
                    {% partial "include-svg" file="plugins/lacaster/profile/assets/images/svg/funkwhale.svg" %}
                </a>
                {% endif %}
            </div>
        </section>
    </div>
</div>

    {% set posts = PostsProfile.posts %}
{% set profile = PostsProfile.profile %}
{% set count_posts = PostsProfile.count_posts %}
{% set count_likes = PostsProfile.count_likes %}
{% set count_comments = PostsProfile.count_comments %}
<div id="blogposts">
    <div class="container">
        <h2 id="postagens">Postagens de {{ profile.user.first_name }}:</h2>
        <ul class="post-list">
            {% for post in posts %}

            <li>
                <div class="box-image-featured">
                    {% for image in post.featured_images|slice(0, 1) %}
                    <a href="{{ post.url }}"><img data-src="{{ image.filename }}" src="{{ image.path| resize(400, 300, { mode: 'crop'}) }}" alt="{{ image.description }}"></a>
                    {% endfor %}
                </div>
                <div class="container-text">

                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="categorias">
                        {% for category in post.categories %}
                        <a href="{{ category.url }}">#{{ category.name }}</a>{% if not loop.last %} {% endif %}
                        {% endfor %}
                    </div>
                    <div class="resumo">{{ post.summary | raw }}</div>

                    <div class="author-info">
                        <a href="/{{ activeLocale }}/usuario/{{ post.user.id }}">
                            <div class="circulo">
                                {% if post.user %}
                                <img class="avatar" src="{{ post.user.getAvatarThumb(55) }}" alt="">
                                {% else %}
                                <img class="avatar" src="{{ cat_generator_string }}" alt="{{ post.user.first_name }}">
                                {% endif %}
                            </div>

                            <p class="info-postagem">
                                <span class="nome">{{ post.user.first_name }}</span>
                                <span class="data">{{ post.published_at|date('d M, Y') }}</span>
                            </p>
                        </a>
                    </div>
                    <div class="icons-post">
                        {% if count_comments[post.id] > 0 %}
                        <div class="comments">

                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/caixa-dialogo.svg" %}
                            <span class="value">{{ count_comments[post.id] }}</span>
                        </div>
                        {% endif %}
                        {% if count_likes[post.id] > 0 %}
                        <div class="likes">
                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/coracao-no-border.svg" %}
                            <span class="value">{{ count_likes[post.id] }}</span>
                        </div>
                        {% endif %}
                        {% if post.views > 0 %}
                        <div class="views">
                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/olho.svg" %}
                            <span class="value">{{ post.views }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% else %}
            <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
            {% endfor %}
        </ul>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; {{ 'lacaster.profile::lang.profile.anterior'|trans}}</a></li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
        <li class="{{ posts.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">{{ 'lacaster.profile::lang.profile.proximo'|trans}} &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}

  </div>
</div>