
.comments ul {
    list-style: none;
}

.comments ul:first-child {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.comments p {
    font-weight: 300;
    line-height: 1.5;
}

.comment {
    padding: 0.5em 0;
}

.comment .comment-avatar, .comment-content {
    float: left;
}

.comment-avatar {
    width: 65px;
    height: 65px;
}

.comment-content {
    margin-left: 15px;
}

#comment-text {
    height: 100px;
}

.comment-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.comment-name {
    font-weight: bold;
    font-size: 13px;
}

.comment-date {
    margin-left: 10px;
}

.comment-date, .comment-reply {
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#cancel-comment-reply-link {
    cursor: pointer;
}

.comment-date:hover, .comment-reply:hover {
    text-decoration: none;
}

.comment-reply-title {
    border-top: 4px solid #1a1a1a;
    margin-bottom: 25px;
    font-size: 25px;
    margin-top: 25px;
    padding-top: 25px;
}

.comment-reply-title small a {
    border: 0;
    float: right;
    font-size: 30px;
    text-decoration: none;
}

.comment-reply {

}

.comments {
    display: block;
}

.comments ul {
    display: block;
}

.comments li {

    display: list-item;

}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.clearfix:before {
  content: " ";
  display: table;
}


a.comment-date {
    color: #d8edf1;
}

/*#comments-content .comment ul {*/

    /*color: black;*/
    /*display: block;*/
    /*list-style-type: disc;*/

/*}*/


/*#comments-content .comment ul li{*/
    /*display: list-item;*/
/*}*/


.comments .comment .comment-header + div > ul {
    list-style: disc;

}

.comments .comment .comment-header + div > ul:first-child {
    list-style: disc;
    margin: 0px;
    padding: 0px;
}

.comments blockquote{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 7px lightgrey solid;

}

.comments .comment .comment-content .comment-header + div a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.light .comments .comment .comment-content .comment-header + div a{
    color: black;
}

.comments .comment .comment-content .comment-header + div a:hover{
    text-decoration: underline;
}

#comment-form {
    padding-bottom: 70px;
}

.comment .comment-footer{

    margin-top: 20px;

}

.comment .comment-header{

    margin-bottom: 20px;

}

.comments .comment .comment-content .comment-header + div *{

    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

}

.comments .comment .comment-content .comment-header + div button {

    padding-top: 10px;
    padding-bottom: 10px;

}

.comments .comment .comment-content .comment-header + div ul {

    padding-left: 30px;

}
