[viewBag]

[staticMenu staticSobreMenu]
code = "sobre"

[staticMenu staticComunidadeMenu]
code = "comunidade"

[staticMenu staticRedesSociaisMenu]
code = "redes-socias"

[staticMenu staticRecursosMenu]
code = "recursos"

[session]
security = "all"
==
<footer>
    <div id="apps-icons"> </div>
    <div id="gradiente-footer"></div>
    <div class="container">
        <div class="menus">
            <div class="menu menu-sobre">
                <h4>{{ 'Sobre'|_ }}</h4>
                {% component 'staticSobreMenu' %}
            </div>

            <div class="menu menu-comunidade">
                <h4>{{ 'Comunidade'|_ }}</h4>
                {% component 'staticComunidadeMenu' %}
            </div>


            <div class="menu menu-redes-sociais">
                <h4>{{ 'Redes Sociais'|_ }}</h4>
                {% component 'staticRedesSociaisMenu' %}
            </div>


            <div class="menu menu-redes-sociais">
                <h4>{{ 'Recursos'|_ }}</h4>
                {% component 'staticRecursosMenu' %}
            </div>


            <div class="menu">
                <h4>{{ 'Usuário'|_ }}</h4>
                <ul>
                    {% if user %}
                    <li><a href="/{{ activeLocale }}/conta">{{ 'Conta' |_ }}</a></li>
                    <li><a data-request="onLogout" >Logout</a></li>
                    {% else %}
                    <li><a href="/{{ activeLocale }}/conta/login">Login</a></li>
                    <li><a href="/{{ activeLocale }}/conta/registrar">{{ 'Registrar' |_ }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="licenca">
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/licenca.svg" %}
            </a>
        </div>
    </div>
    <div class="container">
        <div id="mascotes">

            <div id="montanha-inkscape-1">
                {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/montanha-maior.svg" %}
            </div>
            <div id="montanha-inkscape-2">
                {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/montanha-menor.svg" %}
            </div>
            <div id="familia-gnu">
                {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/familia-gnu.svg" %}
            </div>
        </div>
    </div>

</footer>