description = "header"

[viewBag]

[searchForm]
resultPage = "resultado"
categoryFilter = 1
==
<header id="header">
    <h1>
        <a href="/">Libre Designers</a>
    </h1>
    <div class="container">
        <div class="controls-container controls-container--first">
            <ul class="theme">
                <li class="link-theme link-theme--dark">
                    {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/escuro.svg" %}
                </li>
                <li class="link-theme link-theme--light">
                    {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/luz.svg" %}
                </li>
            </ul>
            <ul class="locale">
                <p>
                    <a href="#" data-request="onSwitchLocale"  class="{{ activeLocale == 'pt-br' ? 'ativo': '' }}" data-request-data="locale: 'pt-br'">PT-BR</a>
                    <a href="#" data-request="onSwitchLocale"  class="{{ activeLocale == 'en' ? 'ativo': '' }}" data-request-data="locale: 'en'">EN</a>
                </p>

            </ul>
        </div>

        <div class="controls-container controls-container--second">
            <ul>
                <li class="link-rss">
                    <a href="/rss" target="_blank">
                        {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/rss.svg" %}
                    </a>
                </li>
                <li class="link-busca">
                {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/busca.svg" %}
                    
                </li>
            </ul>
        </div>

        <div class="controls-container controls-container--third">
            <div class="menu-icon">
                <div class="menu-icon__middle"></div>
            </div>
        </div>
    </div>
</header>