[viewBag]

[staticMenu]
code = "main-menu"
==
<nav id="home-nav" class="main-menu">
    <div class="container">
        {% component 'staticMenu' %}
    </div>
</nav>

<nav id="home-nav--mobile" class="main-menu">
    <h3>Menu</h3>
    {% component 'staticMenu' %}
    <ul class="rss-mobile">
        <li><a href="/rss">Feed RSS</a></li>
    </ul>
    <ul class="locale">
        <p>
            <a href="#" data-request="onSwitchLocale"  class="{{ activeLocale == 'pt-br' ? 'ativo': '' }}" data-request-data="locale: 'pt-br'">PT-BR</a>
            <a href="#" data-request="onSwitchLocale"  class="{{ activeLocale == 'en' ? 'ativo': '' }}" data-request-data="locale: 'en'">EN</a>
        </p>

    </ul>
    <ul class="theme--mobile">
        <li class="link-theme--mobile link-theme--dark">
            Interface escura
        </li>
        <li class="link-theme--mobile link-theme--light">
            Interface clara
        </li>
    </ul>
</nav>