[viewBag]

[searchInput]
useAutoComplete = 0
autoCompleteResultCount = 0
showProviderBadge = 0
searchPage = "resultado.htm"
==
<section id="search-input">
    <div class="container container--small">
        <form action="{{ searchInput.searchPage | page }}?q={{ query | url_encode(true) }}" method="get">
            <div class="ss-search-form">
                <div class="ss-search-form__input">
                    <input name="q" type="text" placeholder="{{'Procurar por ...'|_}}"
                                                value=""
                                                autocomplete="off"
                                                >
                </div>
                <div class="ss-search-form__results" id="autocomplete-results"></div>
            </div>
        </form>
    </div>
</section>