[viewBag]

[searchForm]
resultPage = "resultado"
categoryFilter = 0
==
<div id="search-input">
    <div class="container container--small">
    <form class="form-inline" method="GET" action="{{ searchForm.resultPage|page }}">
        <input type="text" name="search" placeholder="{{'Procurar por ...'|_}}" class="form-control">
    </form>
    </div>
</div>