{% set destaques = __SELF__.destaques %}
{% set first = true %}

{% if destaques is not null %}
<div class="destaques">
    <div class="container">

    <h2 class="title">Destaques</h2>

    <div class="destaque-items">


    {% for destaque in destaques %}
        {% if first == true %}
        <div class="destaque-maior">
            <a href="{{ destaque.link }}">
                <img src="{{destaque.imagem.path | resize(600, 400, { mode: 'crop'}) }}" alt="">
                <div class="texto">
                    <div class="container">
                        <h3 class="title">{{ destaque.titulo }}</h2>
                        <p class="description">{{ destaque.descricao|md }}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="destaque-menor-container">
        {% else %}
        <div class="destaque-menor">
            <a href="{{ destaque.link }}">
                <img src="{{destaque.imagem.path | resize(600, 400, { mode: 'crop'}) }}" alt="">
                <div class="texto">
                    <div class="container">
                        <h3 class="title">{{ destaque.titulo }}</h2>
                        <p class="description">{{ destaque.descricao|md }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% set first = false %}
    {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endif %}
