[viewBag]
==
<!--
            | |    (_) |              |  __ \          (_)
            | |     _| |__  _ __ ___  | |  | | ___  ___ _  __ _ _ __   ___ _ __ ___
            | |    | | '_ \| '__/ _ \ | |  | |/ _ \/ __| |/ _` | '_ \ / _ \ '__/ __|
            | |____| | |_) | | |  __/ | |__| |  __/\__ \ | (_| | | | |  __/ |  \__ \
            |______|_|_.__/|_|  \___| |_____/ \___||___/_|\__, |_| |_|\___|_|  |___/
                                                           __/ |
                                                          |___/

            Opengraph (Facebook) e Twitter Card (Twitter).
            Livre-se deste tipo de spyware com Disconnect, Privacy Badger, Request Policy, uBlock Origin :
            https://disconnect.me/
            https://www.eff.org/privacybadger
            https://requestpolicycontinued.github.io/
            https://addons.mozilla.org/firefox/addon/ublock-origin/

    -->
<head>
    {% if activeLocale == "en" %}
        {% set app_description = "Art, Design and Programming with Free (Libre) Software." %}
    {% endif %}


    {% if activeLocale == "pt-br" %}
        {% set app_description = "Arte, Design e Programação com Software Livre." %}
    {% endif %}

    <meta charset="utf-8">
    <title>{{ app_name }} - {{ this.page.meta_title }}</title>
    <meta name="description" content="{{ this.page.description }}">
    <meta name="title" content="{{ app_name }} - {{ this.page.meta_title }}">
    <meta name="author" content="Lacaster@Libre Designers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ app_name }}">

    {% partial "common/favicon" %}

    <link href="{{ ['assets/scss/theme.scss']|theme }}" rel="stylesheet">
    {% styles %}
</head>
