[viewBag]

[staticMenu staticMenuSobre1]
code = "sobre-pt-br"

[staticMenu staticMenuSobre2]
code = "sobre-en"

[staticMenu staticMenuComunidade]
code = "comunidade"

[staticMenu staticMenuRedesSociais]
code = "redes-sociais"

[localePicker]
forceUrl = 0

[staticMenu]
code = "parceiros"

[staticMenu staticMenu2]
code = "recursos-pt-br"

[staticMenu staticMenu3]
code = "recursos-en"
==
<footer>

    <div id="apps-icons" class="icon icon--icons"></div>
    <div id="gradiente-footer"></div>
    <div class="container">
        <div class="menus">
            <div class="menu menu-sobre">
                <h3>{{ 'Sobre'|_ }}</h3>
                {% if activeLocale == "pt-br"%}
                    {% component 'staticMenuSobre1' %}
                {% else %}
                    {% component 'staticMenuSobre2' %}
                {% endif %}
            </div>

            <div class="menu menu-comunidade">
                <h3>{{ 'Comunidade'|_ }}</h3>
                {% component 'staticMenuComunidade' %}
            </div>


            <div class="menu menu-redes-sociais">
                <h3>{{ 'Redes Sociais'|_ }}</h3>
                {% component 'staticMenuRedesSociais' %}
            </div>

            
            <div class="menu menu-redes-sociais">
                <h3>{{ 'Recursos'|_ }}</h3>
                {% if activeLocale == "pt-br"%}
                    {% component 'staticMenu2' %}
                {% else %}
                    {% component 'staticMenu3' %}
                {% endif %}
            </div>
            
            
            <div class="menu">
                <h3>{{ 'Usuário'|_ }}</h3>
                <ul>
                    {% if user %}
                        <li><a href="/{{ activeLocale }}/conta">{{ 'Conta' |_ }}</a></li>
                        <li><a data-request="onLogout" >Logout</a></li>
                    {% else %}
                        <li><a href="/{{ activeLocale }}/conta/login">Login</a></li>
                        <li><a href="/{{ activeLocale }}/conta/registrar">{{ 'Registrar' |_ }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
        <div class="container">
            <div id="licenca">
                <a href="https://creativecommons.org/licenses/by-sa/3.0/br/" target="_blank">
                    <div class="icon icon--cc-sa"></div>
                </a>
            </div>
        </div>
        <div id="mascotes">
            <div id="montanha-inkscape-1" class="icon icon--inkscape-mountain-1"></div>
            <div id="montanha-inkscape-2" class="icon icon--inkscape-mountain-2"></div>
            <div id="familia-gnu" class="icon icon--gnu-family"></div>
        </div>

</footer>