description = "Facebook and Twitter cards"
==
<!--
			Opengraph (Facebook) e Twitter Card (Twitter).
			Livre-se deste tipo de spyware com Disconnect, Privacy Badger e Request Policy:
			https://disconnect.me/
			https://www.eff.org/privacybadger
			https://requestpolicycontinued.github.io/
		-->

		<meta property="og:title" content="Libre Designers - Liberdade Criativa"/>
		<meta property="og:locale" content="pt_BR" />
		<meta property="og:locale:alternate" content="en_US" />
		<meta property="og:site_name" content="Libre Designers - Liberdade Criativa" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Libre Designers - Liberdade Criativa"/>
		<meta property="og:image" itemprop="image" content="{{ 'assets/build/images/og-image.jpg'|theme }}" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@LibreDesigners" />
		<meta name="twitter:creator" content="@LibreDesigners" />
		<meta name="twitter:description" content="Libre Designers - Liberdade Criativa" />
		<meta name="twitter:title" content="Libre Designers">
		<meta name="twitter:image" content="{{ 'assets/build/images/twitter-image.jpg'|theme }}" />
		<meta name="twitter:image:alt" content="Libre Designers - Liberdade Criativa" />
