<div class="form-container">
    <a class="bt-voltar" href="{{ url('/') }}">Voltar</a>
    <h3>{{ 'Login do usuário'|_ }}</h3>
    <div class="descricao">{{ 'Preencha o formulário abaixo.'|_ }}</div>
    <hr>


    {{ form_ajax('onSignin', {'data-request-flash':'Login realizado com sucesso.' ,'data-request-validate':'Login realizado com sucesso.', 'data-request-validate':'Login realizado com sucesso.','data-interval':'5' }) }}

    <div class="form-group">
        <label for="userSigninLogin">E-mail</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="{{ 'Insira seu e-mail'|_}}" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">{{ 'Senha'|_ }}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="{{ 'Insira sua senha'|_}}" />
    </div>

    {% set link = activeLocale ~ '/conta/relembrar-senha' %}

    <button type="submit" class="btn btn-default">{{ 'Logar'|_ }}</button>
    <div><a class="link btn btn-info" href="{{ url(link) }}">{{ 'Esqueceu a senha?'|_ }}</a></div>

{{ form_close() }}
