title = "Blog Category"
url = "/blog/category/:slug/:page?"
layout = "blogpage"
is_hidden = 0

[postsExtended]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 12
noPostsMessage = "Nenhuma postagem encontrada"
sortOrder = "published_at desc"
categoryPage = "blog/category-page"
postPage = "blog/post-page"

[session]
security = "all"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 12
noPostsMessage = "Nenhuma postagem encontrada."
sortOrder = "published_at desc"
categoryPage = "blog/category-page"
postPage = "blog/post-page"
==
<?php
function onEnd() {
    $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
    if ($this->category) {
        $this->page->meta_title = "Categoria " . $this->category->name;
        $this->page->description = "Página da categoria " . $this->category->name;
    }
    
}
?>
==
{% set posts = postsExtended.posts %}
{% set count_comments = postsExtended.count_comments %}
{% set count_likes = postsExtended.count_likes %}


<div id="blogposts">
    <div class="container">
        <h2 class="main-subtitle">{{ 'Postagens da categoria'|_ }} #{{ postsExtended.category.name }}.</h2>
        <ul class="post-list">
            {% for post in posts %}

            <li>
                <div class="box-image-featured">
                    {% for image in post.featured_images|slice(0, 1) %}
                    <a href="{{ post.url }}"><img data-src="{{ image.filename }}" src="{{ image.path| resize(400, 300, { mode: 'crop'}) }}" alt="{{ image.description }}"></a>
                    {% endfor %}
                </div>
                <div class="container-text">

                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="categorias">
                        {% for category in post.categories %}
                        <a href="{{ category.url }}">#{{ category.name }}</a>{% if not loop.last %} {% endif %}
                        {% endfor %}
                    </div>
                    <div class="resumo">{{ post.summary | raw }}</div>

                    <div class="author-info">
                        <a href="/{{ activeLocale }}/usuario/{{ post.user.id }}">
                            <div class="circulo">
                                {% if post.user %}
                                <img class="avatar" src="{{ post.user.getAvatarThumb(55) }}" alt="">
                                {% else %}
                                <img class="avatar" src="{{ cat_generator_string }}" alt="{{ post.user.first_name }}">
                                {% endif %}
                            </div>

                            <p class="info-postagem">
                                <span class="nome">{{ post.user.first_name }}</span>
                                <span class="data">{{ post.published_at|date('d M, Y') }}</span>
                            </p>
                        </a>
                    </div>
                    <div class="icons-post">
                        {% if count_comments[post.id] > 0 %}
                        <div class="comments">

                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/caixa-dialogo.svg" %}
                            <span class="value">{{ count_comments[post.id] }}</span>
                        </div>
                        {% endif %}
                        {% if count_likes[post.id] > 0 %}
                        <div class="likes">
                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/coracao-no-border.svg" %}
                            <span class="value">{{ count_likes[post.id] }}</span>
                        </div>
                        {% endif %}
                        {% if post.views > 0 %}
                        <div class="views">
                            {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/olho.svg" %}
                            <span class="value">{{ post.views }}</span>
                        </div>
                        {% endif %}
                    </div>
            </li>
            {% else %}
            <p class="no-data">{{ "Nenhuma postagem foi publicada nesta categoria, mas você pode nos ajudar a criar algum incrível para compartilhar. :-)" |_ }}</p>
            {% endfor %}
        </ul>


        {% if posts.lastPage > 1 %}
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}#postagens">&larr; {{"Anterior"|_}}</a></li>
            {% endif %}
        
            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}#postagens">{{ page }}</a>
                </li>
            {% endfor %}
        
            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}#postagens">{{"Próximo"|_}} &rarr;</a></li>
            {% endif %}
        </ul>
        {% endif %}



        </div>
    </div>
</div>