title = "Blog Post"
url = "/blog/post/:slug"
layout = "blogpage"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category-page"

[LikeButton]
slug = "{{ :slug }}"

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[views]
slug = "{{ :slug }}"

[infoPostExtended]
slug = "{{ :slug }}"

[ProfilePost]
slug = "{{ :slug }}"

[comments]
==
<?php
function onEnd()
{
    // Optional - set the page title to the post title
    if ($this->post) {
        $this->page->meta_title = $this->post->title;
        $this->page->description = $this->post->summary;
        if(! empty($this->post->featured_images[0])) {
           $this->page->image_path = $this->post->featured_images[0]->path; 
        } else {
           $this->page->image_path = "/themes/libredesigners4/assets/images/og-image.png";
        }
        
    }
            
}
?>
==
{% set post = blogPost.post %}
<div id="blog-post">

    {% if post %}
    <header>
        <div class="container">
            <h2>{{ post.title }}</h2>
            <div class="categorias">
                {% for category in post.categories %}
                <a href="{{ category.url }}">#{{ category.name }}</a>{% if not loop.last %} {% endif %}
                {% endfor %}
            </div>
            {% component 'infoPostExtended' %}
            
            {% component 'LikeButton' %}

        </div>
    </header>

    <div class="blog-post">
        <div class="container container--large">
            {{ post.content_html | raw }}
        </div>
    </div>

    {% else %}
    <h2>{{"Postagem não encontrada"|_}}</h2>
    {% endif %}

    <div class="container container--large">
        {% component 'ProfilePost' %}
        {% if not user %}
        <div id="form-conta">
            <div id="mensagem-login">
                {{ "Para curtir o artigo ou postar uma mensagem é necessário logar ou criar uma conta, caso não tenha uma. Ao realizar o cadastro será necessário confirmar no e-mail inserido."|_ }}
            </div>
            <div class="row">

                <div class="col-md-6 form-login">
                    <h3>{{"Realizar Login"|_}}</h3>
                    {{ form_ajax("onSignin") }}

                    <div class="form-group">
                        <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
                        <input
                            name="login"
                            type="text"
                            class="form-control"
                            id="userSigninLogin"
                            placeholder="{{'Insira seu'|_}} {{ loginAttributeLabel|lower }}" />
                    </div>

                    <div class="form-group">
                        <label for="userSigninPassword">{{"Senha"|_}}</label>
                        <input
                            name="password"
                            type="password"
                            class="form-control"
                            id="userSigninPassword"
                            placeholder="{{'Insira sua senha'|_}}" />
                    </div>

                    <button type="submit" class="btn btn-default">{{ "Logar"|_ }}</button>
                    {{ form_close() }}
                </div>

                <div class="col-md-6 form-cadastro">
                    <h3>{{"Cadastrar"|_}}</h3>
                    {% if canRegister %}
                    {{ form_ajax("onRegister") }}
                    <div class="form-group">
                        <label for="registerName">{{"Nome"|_}}</label>
                        <input
                            name="name"
                            type="text"
                            class="form-control"
                            id="registerName"
                            placeholder="{{'Insira seu nome.'|_}}" />
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="registerEmail"
                            placeholder="{{'Insira seu e-mail'|_}}" />
                    </div>

                    <div class="form-group">
                        <label for="registerPassword">{{"Senha"|_}}</label>
                        <input
                            name="password"
                            type="password"
                            class="form-control"
                            id="registerPassword"
                            placeholder="{{'Escolha uma senha'|_}}" />
                    </div>

                    <button type="submit" class="btn btn-default">{{"Cadastrar"|_}}</button>
                    {{ form_close() }}


                    {% endif %}
                </div>
            </div>

            {% endif %}

            {% component 'comments' %}

        </div>
    </div>
</div>