{% set count_comments = __SELF__.count_comments %}
{% set count_likes = __SELF__.count_likes %}
{% set count_views = __SELF__.count_views %}

<div class="icons-post">
    <div class="comments">
        {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/caixa-dialogo.svg" %}
        <span class="value">{{ count_comments }}</span>
    </div>
    <div class="likes">
        {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/coracao-no-border.svg" %}
        <span class="value">{{ count_likes }}</span>
    </div>
    <div class="views">
        {% partial "include-svg" file="themes/libredesigners4/assets/images/svg/olho.svg" %}
        <span class="value">{{ count_views }}</span>
    </div>
</div>
