{% set posts = __SELF__.posts %}
{% set count_comments = __SELF__.count_comments %}
{% set count_likes = __SELF__.count_likes %}


<ul class="post-list">
{% for post in posts %}



    <li>
        <div class="box-image-featured">
            {% for image in post.featured_images|slice(0, 1) %}
                <a href="{{ post.url }}"><img data-src="{{ image.filename }}" src="{{ image.path| resize(400, 300, { mode: 'crop'}) }}" alt="{{ image.description }}"></a>
            {% endfor %}
        </div>
        <div class="box-text">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="categorias">
                {% for category in post.categories %}
                    <a href="{{ category.url }}">#{{ category.name }}</a>{% if not loop.last %} {% endif %}
                {% endfor %}
            </div>
            <p class="excerpt">{{ post.summary|raw }}</p>

            {% set user_first_name = post.user.first_name|lower %}
            {% set cat_generator_string = '/cat-generator/' ~ user_first_name %}

            <div class="author-info">
                <a href="/{{ activeLocale }}/usuario/{{ post.user.id }}">
                    <div class="circulo">
                        {% if post.user %}
                            <img class="avatar" src="{{ post.user.getAvatarThumb(55) }}" alt="">
                        {% else %}
                            <img class="avatar" src="{{ cat_generator_string }}" alt="{{ post.user.first_name }}">
                        {% endif %}
                    </div>

                    <p class="info-postagem">
                        <span class="nome">{{ post.user.first_name }}</span>
                        <span class="data">{{ post.published_at|date('d M, Y') }}</span>
                    </p>
                </a>
            </div>
            <div class="icons-post">
                {% if count_comments[post.id] > 0 %}
                    <div class="comments">
                        <span class="icon icon--comentarios-{{ session('status_tema') }}"></span>
                        <span class="value">{{ count_comments[post.id] }}</span>
                    </div>
                {% endif %}
                {% if count_likes[post.id] > 0 %}
                    <div class="likes">
                        <span class="icon icon--curtidas-{{ session('status_tema') }}"></span>
                        <span class="value">{{ count_likes[post.id] }}</span>
                    </div>
                {% endif %}
                {% if post.views > 0 %}
                    <div class="views">
                        <span class="icon icon--views-{{ session('status_tema') }}"></span>
                        <span class="value">{{ post.views }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </li>
{% else %}
<li class="no-data">{{"Nenhuma postagem foi encontrada nesta categoria, mas você pode "|_}} <a href="{{ url('/junte-se-a-nos') }}"> {{ "nos ajudar"|_ }} </a> {{" a escrever algo incrível para compartilhar."|_}}</li>
{% endfor %}
</ul>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; {{"Anterior"|_}}</a></li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
        <li class="{{ posts.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">{{"Próximo"|_}} &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
