{% if user %}


<div class="form-container">
    <a class="bt-voltar" href="{{ url('/') }}">{{ 'lacaster.conta::lang.voltar' | trans }}</a>
    <h3>{{ 'lacaster.conta::lang.dados' | trans }}</h3>
    <div class="descricao">{{ 'lacaster.conta::lang.atualizardadosusuario' | trans }}</div>
    <hr>
    <div class="button_container">
        <a href="{{ url('/conta/mudar-senha') }}"><button class="bt_usuario">{{ 'lacaster.conta::lang.alterarsenha' | trans }}</button></a>
        <a href="{{ url('/conta/contadesativar') }}"><button class="bt_usuario">{{ 'lacaster.conta::lang.desativarconta' | trans }}</button></a>
    </div>
    {{ form_ajax('onUpdateUser',{'class': 'form-register profile', 'data-request-flash':'', 'data-request-validade':'','data-interval':'5'}) }}

          <fieldset>
              <legend>{{ 'lacaster.conta::lang.cadastro' | trans }}</legend>
              <div class="form-group half nome">
                  <label for="nome">{{ 'lacaster.conta::lang.nome' | trans }}*:</label>
                  <input
                         name="nome"
                         type="text"
                         class="form-control"
                         placeholder="{{ 'lacaster.conta::lang.digiteseunome' | trans }}"
                         value="{{ user.name }}"
                         />
                  <p class="help-block obrigatorio">
                  {{ 'lacaster.conta::lang.camponomeobrigatorio' | trans }}
                  </p>
                  <p class="help-block formato">
                  {{ 'lacaster.conta::lang.camponomeletras' | trans }}
                  </p>
              </div>
              <div class="form-group half second sobrenome">
                  <label for="sobrenome">{{ 'lacaster.conta::lang.sobrenome' | trans }}*:</label>
                  <input
                         name="sobrenome"
                         type="text"
                         class="form-control"
                         placeholder="{{ 'lacaster.conta::lang.digiteseusobrenome' | trans }}"
                         value="{{ user.surname }}"
                         />
                  <p class="help-block obrigatorio">
                  {{ 'lacaster.conta::lang.camposobrenomeobrigatorio' | trans }}
                  </p>
                  <p class="help-block formato">
                  {{ 'lacaster.conta::lang.camposobrenomeletras' | trans }}
                  </p>
              </div>
            <button type="submit" id="bt-atualizar" class="btn btn-danger">{{ 'lacaster.conta::lang.atualizar' | trans }}</button>
    {{ form_close() }}

</div>
{% else %}
<div class="form-container">
    {% set link = activeLocale ~ "/conta/login" %}

    <a class="bt-voltar" href="{{ url(link) }}">{{ 'lacaster.conta::lang.paginalogin' | trans }}</a>
    <h3>{{ 'lacaster.conta::lang.paginaerrada' | trans }}</h3>
    <div class="descricao">{{ 'lacaster.conta::lang.realizarlogin' | trans }}</div>
    <hr>

</div>
{% endif %}
