{% if not user %}


<div class="form-container">
    <a class="bt-voltar" href="{{ url('/') }}">Voltar</a>
    <h3>Cadastre-se</h3>
    <div class="descricao">Para curtir publicações e postar mensagens é preciso criar uma conta no site. Preencha o formulário abaixo.</div>
    <hr>

   {{ form_ajax('onRegister', 'class':'form-register profile', 'data-request-flash':'', 'data-request-validade':'','data-interval':'5'}) }}

        <div class="form-group full email">
            <label for="registerEmail">E-mail:</label>
            <input
                name="email"
                type="email"
                class="form-control"
                placeholder="Digite seu e-mail" />
                <p class="help-block obrigatorio">
                    O campo e-mail é obrigatório.
                </p>
                <p class="help-block formato">
                    O campo e-mail está mal formatado.
                </p>
        </div>
        <div class="form-group nome">
            <label for="registerName">Nome:</label>
            <input
                name="name"
                type="text"
                class="form-control"
                placeholder="Digite seu primeiro nome" />
                <p class="help-block obrigatorio">
                    O campo nome é obrigatório.
                </p>
                <p class="help-block minimo">
                    O campo nome deve conter no mínimo 2 letras.
                </p>
        </div>
        <div class="form-group sobrenome">
            <label for="registerSurName">Sobrenome:</label>
            <input
                name="surname"
                type="text"
                class="form-control"
                placeholder="Digite seu sobrenome" />
                <p class="help-block obrigatorio">
                    O campo sobrenome é obrigatório.
                </p>
                <p class="help-block minimo">
                    O campo sobrenome deve conter no mínimo 2 letras.
                </p>
        </div>

            <div class="form-group cpf">
            <label for="cpf">CPF:</label>
            <p class="help-block obrigatorio">
                O campo cpf é obrigatório.
            </p>
            <p class="help-block minimo">
                O campo cpf está mal formatado.
            </p>
            <input type="text" name="cpf" placeholder="Digite seu CPF" value="{{ profile.cpf }}">
        </div>
        <div class="form-group telefone">
            <label for="telefone">Telefone*:</label>
            <p class="help-block obrigatorio">
                O campo Telefone é obrigatório.
            </p>
            <p class="help-block mal-formatado">
                O campo Telefone deve ter de 10 a 11 números.
            </p>

            <input type="text" name="telefone" placeholder="Digite seu telefone" value="{{ profile.telefone }}">
        </div>
        <div class="form-group senha">
            <label for="registerPassword">Senha</label>
            <input
                name="password"
                type="password"
                class="form-control"
                placeholder="Escolha uma senha" />
                <p class="help-block obrigatorio">
                    O campo senha é obrigatório.
                </p>
                <p class="help-block minimo">
                    O campo senha deve conter no mínimo 6 símbolos.
                </p>
        </div>
        <div class="form-group confirmar_senha">
            <label for="registerConfirmPassword">Confirmar senha</label>
            <input
                name="password_confirmation"
                type="password"
                class="form-control"
                placeholder="Confirme sua senha" />
                <p class="help-block obrigatorio">
                    O campo de confirmação de senha é obrigatório.
                </p>
                <p class="help-block igual">
                    O campo de confirmação de senha deve ser igual ao campo de senha.
                </p>
        </div>

        <button type="submit" id="bt-cadastrar" class="btn btn-default">Cadastrar</button>
    {{ form_close() }}
</div>

{% else %}

    {% if not user.is_activated %}

        <h3>Seu endereço de e-mail ainda não foi verificado.</h3>
        <p>
            Você deve verificar sua conta caso contrário ela será deletada. Por favor, verifique se e-mail.
            <a href="javascript:;" data-request="onSendActivationEmail">Enviar e-mail de verificação novamente.</a>.
        </p>

    {% endif %}
{% endif %}
