{% set destaque = __SELF__.destaque %}

{% if destaque is not null %}
<a href="{{ destaque.link }}">
        <div id="destaque">
            <picture>
                <source media="(min-width: 800px)" srcset="{{destaque.imagem.path | resize(1920,500, { mode: 'crop'}) }}">
                    <source media="(min-width: 400px)" srcset="{{destaque.imagem.path | resize(800,300, { mode: 'crop'}) }}">
                        <img src="{{destaque.imagem.path | resize(400, 150, { mode: 'crop'}) }}" alt="">
            </picture>
            <div class="gradiente"></div>
            <div class="texto">
                <div class="container">
                    <h2 class="title">{{ destaque.titulo }}</h2>
                    <p class="description">{{ destaque.descricao }}</p>
                </div>
            </div>
        </div>
    </a>
{% endif %}
