[viewBag]
title = "Código-fonte do site"
url = "/codigo-fonte-do-site"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Código-fonte do site"
meta_description = "O site Libre Designers versão 4.0 é feito em Winter CMS.  Os plugins e códigos do tema são de licença MIT. As imagens do tema são CC-BY-SA 4.0 ."
==
<p>O site Libre Designers versão 4.0 é feito em <a href="https://wintercms.com/" rel="noopener noreferrer" target="_blank">Winter CMS</a> (Um fork do October CMS). <a href="https://wintercms.com/" rel="noopener noreferrer" target="_blank">Winter CMS&nbsp;</a>é um sistema de gerenciamento de conteúdo livre baseado no framework <a href="https://www.php.net/" rel="noopener noreferrer" target="_blank">PHP</a> <a href="https://laravel.com/" rel="noopener noreferrer" target="_blank">Laravel</a>.</p>

<p>O código que está publicado no gitlab refere-se ao tema e aos plugins usados no projeto. Os plugins e códigos do tema são de <a href="https://pt.wikipedia.org/wiki/Licen%C3%A7a_MIT" rel="noopener noreferrer" target="_blank">licença MIT</a>. As imagens do tema são <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" rel="noopener noreferrer" target="_blank">CC-BY-SA 4.0&nbsp;</a>.</p>

<p>Por favor, se encontrar algum bug ou vulnerabilidade no código, seja discreto e envie um e-mail para <a href="mailto:admin@libredesigners.org">admin@libredesigners.org</a> avisando do problema que corrigiremos o mais breve possível.</p>

<p style="text-align: center;"><a class="special" href="https://gitlab.com/lacaster/libredesigners4" rel="noopener noreferrer" target="_blank">Ver código no gitlab</a></p>