[viewBag]
title = "Sobre"
url = "/sobre"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Sobre"
meta_description = "Libre Designers é um blog colaborativo que busca promover o uso do Software Livre no Design e a aplicação do Design no Software Livre. Além disso, também irá abordar áreas correlatas como artes gráficas e o uso de programação aplicado ao Design."
localeUrl[en] = "/about"
==
<p>Libre Designers é um blog colaborativo que busca promover o uso do Software Livre no Design e a aplicação do Design no Software Livre tudo feito de aprendiz para aprendiz. Além disso, também irá abordar áreas correlatas como artes gráficas e o uso de programação aplicado ao Design. Todo conteúdo do site é de licença <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener noreferrer" target="_blank">Creative Commons Compartilha Igual com Atribuição</a>. Se você é usuário de softwares livres na área multimídia e quer passar um pouco do que sabe para a comunidade ou deseja divulgar outros projetos livres que necessitam de designers, <a href="/junte-se-a-nos">será muito bem vind@</a> nesse projeto.</p>