[viewBag]
title = "Política de Privacidade"
url = "/politica-de-privacidade"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Política de Privacidade"
meta_description = "Esclarecimentos sobre dados utilizados no funcionamento do site."
==
<p>As informações que utilizamos para o funcionamento do site:</p>

<p>- Status do tema: ( escuro, claro ) via localStorage.</p>

<p>- Estado de visita numa postagem (se visitou ou não para contagem de visita) do blog via cookie.</p>

<p>
	<br>
</p>

<p>Decidimos não utilizar ferramenta de analytics.</p>

<p>Registramos requisições inválidas para verificar tentativa de acesso indevido ao sistema via WinterCMS.</p>

<p>
	<br>
</p>

<p>Se você decidir se cadastrar para interagir nos comentários ou deixar um like (simbólico) nas postagens, utilizamos o seu e-mail apenas para fim de cadastro e acesso ao sistema do site. Decidimos pelo uso do cadastro para evitar spam.</p>

<p>Se você decidir ser um autor no Libre Designers, ao acessar o backend teremos acesso ao seu histórico de login com o endereço IP utilizado, por questões de segurança.</p>

<p>
	<br>
</p>

<p>Os códigos utilizados no site são software livre (licença MIT) e pode ser encontrado no gitlab do projeto. (Veja página <a href="/codigo-fonte-do-site">código-fonte do site</a>)</p>

<p>
	<br>
</p>