[viewBag]
title = "Recursos Gratuitos"
url = "/recursos-gratuitos"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Recursos Gratuitos"
meta_description = "Repositório de recursos gratuitos para uso e aprendizado em softwares livres."
localeUrl[en] = "/free-resources"
==
<p>Repositório de recursos gratuitos para uso e aprendizado em softwares livres. Esta página será alterada com frequência.</p>

<p>Embora muitas vezes não seja obrigatório, lembre-se de citar as fontes dos recursos nos seus trabalhos. É importante.</p>

<ul>
	<li><a href="#fontes">Fontes tipográficas</a></li>
	<li><a href="#imagens">Bancos de Imagens</a></li>
	<li><a href="#svg">SVG</a></li>
	<li><a href="#modelos3D">Modelos 3D</a></li>
	<li><a href="#artes-para-jogos">Artes para jogos</a></li>
	<li><a href="#hdri">HDRI</a></li>
	<li><a href="#texturas">Texturas</a></li>
	<li><a href="#cursos">Cursos</a></li>
	<li><a href="#canais">Canais de Vídeos</a></li>
	<li><a href="#sites">Sites com tutoriais</a></li>
</ul>

<p>
	<br>
</p>

<h2 id="fontes">Fontes tipográficas</h2>

<ul>
	<li><a href="https://www.fontsquirrel.com/">Font Squirrel</a></li>
	<li><a href="https://fonts.google.com/">Google Fonts</a></li>
	<li><a href="https://www.websiteplanet.com/blog/best-free-fonts/" rel="noopener noreferrer" target="_blank">Website planet - 70+ Best Free Fonts for Designers</a> (Agradecimentos a Fabíola)</li>
</ul>

<h2 id="imagens">Bancos de imagens</h2>

<ul>
	<li><a href="https://pixabay.com" target="_blank">Pixabay</a></li>
	<li><a href="https://unsplash.com/" rel="noopener noreferrer" target="_blank">Unsplash</a></li>
	<li><a href="https://www.pexels.com/" rel="noopener noreferrer" target="_blank">Pexels</a></li>
</ul>

<h2 id="svg">SVG</h2>

<ul>
	<li><a href="https://freesvg.org/" target="_blank">FreeSVG</a></li>
	<li><a href="https://www.svgrepo.com/" rel="noopener noreferrer" target="_blank">SVG Repo</a> (Agradecimentos a Guilherme Nunes)</li>
</ul>

<h2 id="modelos3D">Modelos 3D</h2>

<ul>
	<li><a href="https://3dmodelhaven.com/" target="_blank">3d Model Haven</a></li>
</ul>

<h2 id="artes-para-jogos">Artes para jogos</h2>

<ul>
	<li><a href="https://opengameart.org/" rel="noopener noreferrer" target="_blank">Open Games Arts</a></li>
</ul>

<h2 id="hdri">HDRI</h2>

<ul>
	<li><a href="https://hdrihaven.com/" target="_blank">HDRI Haven</a></li>
</ul>

<h2 id="texturas">Texturas</h2>

<ul>
	<li><a href="https://texturehaven.com/" target="_blank">Texture Haven</a></li>
</ul>

<h2 id="cursos">Cursos</h2>

<ul>
	<li>Blender

		<ul>
			<li><a href="https://www.udemy.com/blender-3d-guia-do-iniciante-gratis/" target="_blank">Blender 3D - Guia do Iniciante&nbsp;</a> (Eduardo Garcia)</li>
			<li><a href="https://www.udemy.com/introducao-ao-blender3d/" target="_blank">Introdução ao Blender&nbsp;</a> (Gustavo Rosa)</li>
		</ul>
	</li>
	<li>Desenho

		<ul>
			<li><a href="https://www.udemy.com/introduction-to-pencil-drawing-and-shading-course/" target="_blank">Introduction to Pencil Drawing and Shading Course&nbsp;</a>(Homa Tayefeh, Matin Shafiei, Milad Ahmadi)</li>
		</ul>
	</li>
	<li>Gimp

		<ul>
			<li><a href="https://eadallanbrito.com/curso/gimp-basico/" target="_blank">Gimp Básico</a> (Allan Brito)</li>
		</ul>
	</li>
	<li>Krita

		<ul>
			<li><a href="https://www.youtube.com/watch?v=WsjX3BL6v2A" target="_blank">Curso completo de Krita</a> (Yoney Gallardo)</li>
		</ul>
	</li>
	<li>Pintura Digital

		<ul>
			<li><a href="https://www.udemy.com/digitally-painting-and-drawing-eyes/" target="_blank">Digitally Painting and Drawing Eyes</a> (Austin Batchelor)
				<br>
				<br>
			</li>
		</ul>
	</li>
</ul>

<h2 id="canais">Canais de Vídeos</h2>

<ul>
	<li><a href="https://www.youtube.com/user/DeevadRevoy" target="_blank">David Revoy</a> (Ilustração Digital, Krita) (YouTube)</li>
	<li><a href="https://www.youtube.com/channel/UCEQXp_fcqwPcqrzNtWJ1w9w/videos">Logos by nick</a> (Logo design, inkscape, gimp) (YouTube)</li>
	<li><a href="https://www.youtube.com/channel/UCxboW7x0jZqFdvMdCFKTMsQ" rel="noopener noreferrer" target="_blank">GD Quest</a> (Krita, Godot, Emacs) (YouTube)</li>
	<li><a href="https://www.youtube.com/c/GodotEngineOfficial" rel="noopener noreferrer" target="_blank">Godot Engine</a> (Canal Oficial do Godot) (YouTube)</li>
	<li><a href="https://www.youtube.com/c/KritaOrgPainting" rel="noopener noreferrer" target="_blank">Krita</a> (Canal Oficial do Krita) (YouTube)</li>
</ul>

<h2 id="sites">Sites</h2>

<ul>
	<li><a href="https://www.2dgameartguru.com/" target="_blank">2D Game Art Guru</a> (Inkscape e Gimp)</li>
	<li><a href="http://tuts.ahninniah.graphics/" target="_blank">Art Tuts</a> (Inkscape)</li>
	<li><a href="http://www.livrelabs.com.br/" target="_blank">LivreLabs</a> (Várias ferramentas livres)</li>
	<li><a href="https://pixls.us/" target="_blank">PIXLS.US - Free/Open Source Photography</a> (Várias ferramentas livres)</li>
	<li><a href="https://watch-learn.com/" rel="noopener noreferrer" target="_blank">Watch + learn</a> (Desenvolvimento Web)</li>
	<li><a href="https://librearts.org/" rel="noopener noreferrer" target="_blank">Libre Arts</a> (Várias ferramentas livres)</li>
</ul>

<p>
	<br>
</p>