[viewBag]
title = "Recursos pagos"
url = "/recursos-pagos"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Página de Recursos Pagos"
meta_description = "Repositório de recursos pagos para uso e aprendizado em softwares livres."
localeUrl[en] = "/paid-resources"
==
<p>Repositório de recursos pagos para uso e aprendizado em softwares livres. Esta página será alterada com frequência.</p>

<ul>
	<li><a href="#fontes">Fontes tipográficas</a></li>
	<li><a href="#svg">SVG</a></li>
	<li><a href="#cursos">Cursos</a></li>
</ul>

<h2 id="fontes">Fontes tipográficas</h2>

<ul>
	<li><a href="https://www.1001fonts.com/">1001 Fonts</a></li>
</ul>

<h2 id="svg">SVG</h2>

<ul>
	<li><a href="https://freesvgdesigns.com/" rel="noopener noreferrer" target="_blank">Free SVG Designs</a> (Agradecimentos a Guilherme Nunes)</li>
</ul>

<p>
	<br>
</p>

<h2 id="cursos">Cursos</h2>

<ul>
	<li><a href="https://pt.coursera.org/specializations/graphic-design" target="_blank">Design Gráfico (Especialização)</a> (Coursera - CALARTS)</li>
	<li>Blender

		<ul>
			<li><a href="https://www.udemy.com/the-shining-learn-blender-for-production/" target="_blank">The Shining - Learn Blender for Production</a> (Kris Lee)</li>
			<li><a href="https://www.udemy.com/spacevfx" target="_blank">Space VFX</a> (Aidy Burrows, Gleb Alexandrov)</li>
		</ul>
	</li>
	<li>Scribus

		<ul>
			<li><a href="https://www.udemy.com/desktop-publishing-using-scribus-like-adobe-indesign/" target="_blank">Desktop Publishing Using Scribus</a> (Steve Czajka)</li>
		</ul>
	</li>
</ul>

<p>
	<br>
</p>