[viewBag]
title = "Junte-se a nós"
url = "/junte-se-a-nos"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Junte-se a nós"
meta_description = "Então gostou do projeto e quer participar? Agradável! Então leia esta página e junte-se a nós."
localeUrl[en] = "/sobre"
==
<p>Libre Designers é um blog colaborativo sobre uso do Software Livre no Design e aplicações do Design em Softwares Livres. Todo conteúdo do site é <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener noreferrer" target="_blank">Creative Commons Compartilha Igual com Atribuição</a>. Desde que seu artigo seja autoral você é livre para publicar e compartilhar.</p>

<p>Os assuntos podem abranger desde a divulgação de outros projetos livres até as áreas mais diferentes do Design como, por exemplo:</p>

<ul>
	<li>Design de Interfaces</li>
	<li>Game Design</li>
	<li>Design Gráfico</li>
	<li>Sound Design</li>
	<li>Teoria do Design</li>
	<li>…</li>
</ul>

<p>entre outras áreas, mas sempre com foco no uso ou aplicação em Softwares Livres.</p>

<p>Áreas com alguma similaridade com o Design também podem ser abordadas como, por exemplo:</p>

<ul>
	<li>Artes Gráficas</li>
	<li>Arte Generativa (Processing)</li>
	<li>Desenvolvimento Web Front-End</li>
	<li>…</li>
</ul>

<p>Você também pode divulgar seu projeto de Software Livre que necessita de Designers.</p>

<p>Se interessou? Legal! Então <a href="/contato">envie-nos uma mensagem</a> para que possamos cadastrá-lo como autor.</p>