[viewBag]
title = "Contato"
url = "/contato"
layout = "innerpages"
is_hidden = 0
navigation_hidden = 0
meta_title = "Página de Contato"
meta_description = "Entre em contato conosco através do formulário de contato."
localeUrl[en] = "/contact"
==
<p>Você pode preencher o formulário abaixo ou trocar uma idéia com a gente através do e-mail: contato@libredesigners.org .</p>
<figure class="fr-draggable" contenteditable="false" data-component="JanVince\SmallContactForm\Components\SmallContactForm" data-inspector-class="JanVince\SmallContactForm\Components\SmallContactForm" data-inspector-css-class="hero" data-inspector-id="inspectorid-1369571252564" data-name="Contact form" data-property-allow_redirect="false" data-property-disable_autoreply="false" data-property-disable_notifications="false" data-property-form_description="Contato" data-property-ga_success_event_allow="false" data-property-redirect_url_external="false" data-snippet="contactForm" data-ui-block="true" draggable="true" tabindex="0">&nbsp;</figure>